@font-face {
    font-family: 'reg';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype'),
        url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'med';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'light';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Light.woff') format('woff'),
        url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
        url('../fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'icon';
  src:  url('../fonts/icomoon.eot?tzgsl1');
  src:  url('../fonts/icomoon.eot?tzgsl1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tzgsl1') format('truetype'),
    url('../fonts/icomoon.woff?tzgsl1') format('woff'),
    url('../fonts/icomoon.svg?tzgsl1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'sp';
    src: url('../fonts/Spectral-Light.eot');
    src: url('../fonts/Spectral-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spectral-Light.woff2') format('woff2'),
        url('../fonts/Spectral-Light.woff') format('woff'),
        url('../fonts/Spectral-Light.ttf') format('truetype'),
        url('../fonts/Spectral-Light.svg#Spectral-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

