.post--page {
    padding: 85px 0 35px;
    background-color: #f9f9f9;
    .post {
        &__photo {
            height: 69vw;
            position: relative;
            overflow: hidden;
            margin-bottom: 25px;
            max-height: 350px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
        &__title {
            font-size: 24px;
            line-height: 1;
            font-family: 'med';
            margin-bottom: 10px;
        }
        &__excerpt {
            font-size: 18px;
            font-family: light;
            color: rgba(0,0,0,0.7);
            margin-bottom: 30px;
            line-height: normal;
        }
        &__body {
            margin-bottom: 40px;
        }
        &__sharing--aside {
            display: none;
        }
        &__button-share {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-sizing: border-box;
        }
        &__tags {
            &::before {
                display: inline-block;
                content: 'Теги:';
                font-size: 18px;
                margin-right: 10px;
                color: #000;
                font-family: light;
            }
            margin-bottom: 35px;
        }
        &__tag {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
            color: #6699ff;
            border-bottom: 1px solid rgba(102, 153, 255, 0.5);
            padding-bottom: 3px;
            font-size: 16px;
            font-family: light;
        }
        &__sharing {
            padding: 20px;
            box-sizing: border-box;
            // border: 1px solid rgba(142, 142, 142, 0.3);
            background-color: #fff;
            margin-bottom: 20px;
            p {
                font-size: 18px;
                color: #000;
                font-family: light;
                display: block;
                margin-bottom: 20px;
            }
        }
        &__button-share {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &::before {
                color: #fff;
                font-family: 'icon';
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-53%, -50%);
            }
            &--twitter {
                background-color: #06b6eb;
                &::before {
                    content: '\e904';
                }
            }
            &--facebook {
                background-color: #425496;
                &::before {
                    content: '\e902'
                }
            }
            &--vk {
                background-color: #526d8e;
                &::before {
                    content: '\e905'
                }
            }
            &--telegram {
                background-color: #35aadd;
                &::before {
                    content: '\e908'
                }
            }
            &+.post__button-share {
                margin-left: 10px;
            }
        }
        &__postscriptum {
            background-color: #f2eee3;
            padding: 30px 20px;
            box-sizing: border-box;
            p+p {
                margin-top: 10px;
            }
        }
        &__wrapper {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}

.text--post-page {
    font-size: 16px;
    &>p:nth-child(1):first-letter {
        font-size: 48px;
        line-height: 40px;
        font-family: 'med';
        float: left;
        padding-right: 5px;
    }
    img, iframe{
    	max-width: 100%;
    	
    }
    img{
    	max-height: 400px;
    	margin: 0 auto;
    	display: block;
    }
    li{
    	font-family: light;
    }
    p {
        color: #000;
        font-family: light;
        line-height: 21px;
        &+a {
            margin-top: 20px;
        }
        &+p {
            margin-top: 25px;
        }
        &+h2 {
            margin-top: 25px;
        }
        &+h3 {
            margin-top: 25px;
        }
        &+h4 {
            margin-top: 25px;
        }
        &+h5 {
            margin-top: 25px;
        }
        &+h6 {
            margin-top: 25px;
        }
    }
    a {
        color: #6699ff;
        border-bottom: 1px solid rgba(102, 153, 255, 0.5);
        padding-bottom: 1px;
        &+p {
            margin-top: 20px;
        }
    }
    h2,h3,h4,h5,h6,h7 {
        font-size: 21px;
        line-height: normal;
        font-family: 'med';
    }
    h1{
    	font-size: 28px;
    	font-family: 'med';
    	& + *{
    		margin-top: 30px;
    	}
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        +* {
            margin-top: 25px;
        }
    }
    *+.highlight {
        margin-top: 25px;
    }
    *+.aside {
        margin-top: 15px;
    }
    .aside {
        &+* {
            margin-top: 15px;
        }
    }
    .highlight {
        text-align: center;
        padding: 25px 0;
        position: relative;
        &::before,
        &::after {
            position: absolute;
            content: '';
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2);
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        p {
            font-size: 24px;
            line-height: normal;
        }
        &+* {
            margin-top: 25px;
        }
    }
    .recomendation {
        background-color: #fff;
        border-top: 7px solid #a16af5;
        display: block;
        padding: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
        border-bottom: none;
        display: block;
        &.out {
            span {
                &:after {
                    font-family: icon;
                    content: '\e900';
                    color: #a16af5;
                    font-size: 7px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 3px;
                    margin-bottom: 5px;
                    transform: translate(0, -1px);
                }
            }
        }
        h3 {
            color: #000;
            font-size: 21px;
            &+* {
                margin-top: 20px;
            }
        }
        span {
            position: relative;
            display: block;
            color: #000;
            font-size: 16px;
            border-bottom: none;
            font-family: 'reg';
            /* &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50px;
                background-color: #a16af5;
                top: 8px;
                left: -10px;
            } */
            &+p {
                margin-top: 10px;
            }
        }
        p {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.7);
            line-height: normal;
        }
    }
    blockquote {
        background-color: #fff;
        border-top: 7px solid #a16af5;
        display: block;
        padding: 20px span(0.5 of 12);
        position: relative;
        &:before {
            content: '„';
            line-height: 0;
            position: absolute;
            color: rgba(0, 0, 0, 0.05);
            font-size: 230px;
            font-family: 'med';
            top: -40px;
            right: span(0.5 of 12);
        }
        p+p {
            margin-top: 10px;
        }
    }
    .definition {
        &+* {
            margin-top: 20px;
        }
        p {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
            line-height: normal;
        }
    }
    *+.definition {
        margin-top: 15px;
    }
    *+ul {
        margin-top: 20px;
    }
    ul {
        padding-left: 20px;
        &+* {
            margin-top: 20px;
        }
    }
    li {
        position: relative;
        line-height: 21px;
        &:before {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50px;
            background-color: #000;
            top: 9px;
            left: -10px;
        }
    }
}


.similar {
    padding: 25px 0 50px;
    background-color: #f1f1f1;
    &__title {
        font-size: 21px;
        font-family: 'med';
        margin-bottom: 20px;
    }
    &__slider {
        margin: 0 -20px;
        padding: 0 20px;
        .swiper-wrapper {
            height: auto;
            padding-bottom: 15px;
        }
    }
    &__item {
        width: 280px;
        vertical-align: top;
    }
}

.policy{
	padding: 100px 0 50px;
	&__body{
		max-width: 500px;
        margin: 0 auto;
	}
}

@media (min-width: 768px) {
    .post--page {
        padding: 115px 0 40px;
        .post {
            &__photo {
                height: 390px;
                margin-bottom: 50px;
                max-height: none;
            }
            &__title {
                font-size: 48px;
                line-height: 48px;
                margin-bottom: 20px;
            }
            &__excerpt {
                font-size: 24px;
                margin-bottom: 55px;
            }
            &__wrapper {
                max-width: none;
                padding: 0 span(2 of 24);
            }
            &__tags {
                &::before {
                    font-size: 24px;
                }
            }
            &__sharing {
                padding: 20px;
                box-sizing: border-box;
                // border: 1px solid rgba(142, 142, 142, 0.3);
                margin-bottom: 20px;
                p {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    width: 40%;
                }
            }
            &__sharing-wrapper {
                display: inline-block;
                vertical-align: middle;
                width: 60%;
                text-align: right;
            }
            &__tag{
            	font-size: 21px;
            }
        }
    }

	.policy{
		padding-top: 150px;
		&__body{
			max-width: none;
			padding: 0 span(2 of 24)
		}
	}

    .text--post-page {
        font-size: 18px;
        &>p:nth-child(1):first-letter {
            font-size: 69px;
            line-height: 60px;
        }
        li{
        	font-size: 21px;
        	line-height: 30px;
        	&::before{
        		top: 13px;
        	}
        }
        p {
            font-size: 21px;
            line-height: 30px;
            &+h2 {
                margin-top: 40px;
            }
            &+h3 {
                margin-top: 40px;
            }
            &+h4 {
                margin-top: 40px;
            }
            &+h5 {
                margin-top: 40px;
            }
            &+h6 {
                margin-top: 40px;
            }
        }
        .aside {
            &+p {
                // margin-top: 25px;
            }
        }
        a {
            &+p {
                margin-top: 20px;
            }
        }
        h3,h2,h4,h5,h6,h7 {
            font-size: 30px;
        }
        h1{
        	font-size: 42px;
        }
        *+.highlight {
            margin-top: 40px;
        }
        .highlight {
            padding: 30px 0;
            margin: 40px auto 0;
            &::before,
            &::after {
                width: span(14 of 20);
            }
            p {
                font-size: 30px;
            }
            &+* {
                margin-top: 30px;
            }
        }
        .recomendation {
            padding: 20px;
            margin-top: 45px;
            margin-bottom: 30px;
            width: span(14 of 20);
            box-sizing: border-box;
            h3 {
                font-size: 21px;
            }
            span {
                line-height: normal;
            }
        }
        .definition {
            width: 80%;
            &+* {
                margin-top: 20px;
            }
            p {
                font-size: 16px;
            }
        }
        *+.definition {
            margin-top: 15px;
        }
        li {
            width: 70%;
        }
    }

    .similar {
        padding: 50px 0 60px;
        &__title {
            font-size: 36px;
            margin-bottom: 30px;
        }
        &__item {
            width: 345px!important;
        }
    }
}

@media (min-width: 1024px) {
    .post--page {
        padding: 110px 0 70px;
        .post {
            &__photo {
                margin-bottom: 75px;
            }
            &__title {
                width: span(16 of 18);
                margin-bottom: 40px;
            }
            &__wrapper {
                padding: 0 span(3 of 24);
                position: relative;
            }
            &__tags {
                &::before {
                    font-size: 24px;
                }
            }
            &__sharing {
                padding: 20px;
                box-sizing: border-box;
                // border: 1px solid rgba(142, 142, 142, 0.3);
                margin-bottom: 20px;
                p {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    width: 40%;
                }
                &--aside {
                    display: block;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    width: auto;
                    position: absolute;
                    top: 0;
                    left: span(0.5 of 24);
                    .post__sharing-wrapper {
                        width: auto;
                    }
                }
            }
            &__button-share {
                &--blured {
                    width: 45px;
                    height: 45px;
                    display: block;
                    background: none;
                    border: 1px solid rgba(142, 142, 142, 0.5);
                    box-shadow: none;
                    &::before {
                        color: rgba(142, 142, 142, 0.5);
                        font-size: 24px;
                    }
                    &+.post__button-share {
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
            &__sharing-wrapper {
                display: inline-block;
                vertical-align: middle;
                width: 60%;
                text-align: right;
            }
        }
    }

	
	.policy{
		&__body{
			padding: 0 span(3 of 24);
		}
	}

    .text--post-page {
        font-size: 16px;
        .highlight {
            &::before,
            &::after {
                width: span(11 of 18);
            }
        }
        blockquote {
            padding: 30px span(0.5 of 18);
        }
        .recomendation {
            padding: 20px;
            width: span(9 of 18);
            h3 {
                font-size: 21px;
            }
        }
        .definition {
            width: span(13 of 18)
        }
    }

    .similar {
        padding: 60px 0 65px;
        &__title {
            font-size: 40px;
            margin-bottom: 45px;
        }
        &__item {
            width: 375px!important;
        }
        &__slider {
            padding: 0 40px;
            margin: 0 -40px;
        }
    }
}

@media (min-width: 1240px) {
    .post--page {
        padding: 110px 0;
        .post {
            &__photo {
                height: 470px;
                margin-bottom: 45px;
            }
            &__title {
                width: span(13 of 20);
                font-size: 36px;
                margin-bottom: 20px;
            }
            &__excerpt {
                width: span(11 of 20);
                font-size: 21px;
                margin-bottom: 50px;
            }
            &__wrapper {
                padding: 0 span(2 of 24);
            }
            &__body {
                width: span(14 of 20);
            }
            &__sharing {
                width: span(14 of 20);
                &--aside {
                    width: auto;
                }
            }
            &__postscriptum {
                width: span(14 of 20);
            }

        }
    }
	
	.policy{
		&__body{
			padding: 0 span(2 of 24);
		}
	}

    .text--post-page {
        font-size: 16px;
        .highlight {
            &::before,
            &::after {
                width: span(9 of 14);
            }
        }
        * + h3{
        	margin-top: 25px;
        }
        .aside + h3{
        	margin-top: 25px;
        }
        blockquote {
            padding: 30px span(0.5 of 20);
        }
        .recomendation {
            width: span(6.5 of 14);
            h3,
            p,
            span {
                transition: 0.3s ease;
                &::before{
                	transition: 0.3s ease;
                }
            }
            &:hover {
            	span{
            		color: #a05b89;
            		&::after{
            			color: #a05b89;
            		}
            	}
            }
        }
        .definition {
            width: span(4.5 of 14)
        }
        .aside {
            position: relative;
            &__content {
                position: absolute;
                left: 110%;
                top: 0;
                margin: 0!important;
                min-width: 300px;
                .recomendation {
                    width: 320px;
                }
                .definition {
                    width: 210px;
                }
                a {
                    font-size: 18px;
                }
            }
        }
        ul {
            padding-left: 40px;
        }
    }

    .similar {
        padding: 85px 0 70px;
        &__title {
            font-size: 48px;
            margin-bottom: 50px;
        }
        &__item {
            width: 33%!important;
            display: inline-block;
            padding: 0 20px;
            box-sizing: border-box;
        }
        &__slider {
            margin-left: -(span(0.5 of 24));
            margin-right: -(span(0.5 of 24));
            font-size: 0;
            padding: 0;
            overflow: visible;
        }
    }
}


@media (min-width: 1560px) {
    .post--page {
        padding: 130px 0 110px;
        .post {
            &__photo {
                height: 600px;
                margin-bottom: 70px;
            }
            &__title {
                font-size: 60px;
                line-height: 60px;
                width: span(17 of 20);
            }
            &__excerpt {
                width: span(13 of 20);
                font-size: 30px;
                margin-bottom: 50px;
            }
            &__tag{
            	font-size: 24px;
            	margin-right: 10px;
            }
        }
    }

    .text--post-page {
        font-size: 24px;
        p {
            font-size: 24px;
            line-height: 34px;
            &+h2 {
                margin-top: 60px;
            }
            &+h3 {
                margin-top: 60px;
            }
            &+h4 {
                margin-top: 60px;
            }
            &+h5 {
                margin-top: 60px;
            }
            &+h6 {
                margin-top: 60px;
            }
        }
        li{
        	font-size: 24px;
            line-height: 34px;

            &::before {
                top: 15px;
                width: 5px;
                height: 5px;
            }
        }
        h2,h3,h4,h5,h6,h7 {
            font-size: 36px;
        }
        h1{
        	font-size: 48px;
        }
        .highlight {
            padding: 35px 0;
            &::before,
            &::after {
                width: span(7 of 14);
            }
            p {
                font-size: 36px;
            }
        }
        .recomendation {
            margin-top: 45px;
            margin-bottom: 30px;
            width: span(6 of 14);
            box-sizing: border-box;
            p {
                font-size: 16px;
            }
            span {
                font-size: 18px;
            }
        }
        .definition {
            width: span(6 of 14);
            p {
                font-size: 18px;
            }
        }
        li {
            

        }
    }

    .similar {
        padding: 85px 0 70px;
        &__title {
            font-size: 48px;
            margin-bottom: 50px;
        }
        &__item {
            width: 33%!important;
            display: inline-block;
            box-sizing: border-box;
        }
        &__slider {
            margin-left: -(span(0.5 of 24));
            margin-right: -(span(0.5 of 24));
            font-size: 0;
            padding: 0;
            overflow: visible;
        }
    }
}