@import './node_modules/susy/sass/susy';
@import '_reset.css';

$susy: ('columns': susy-repeat(48),
        'gutters': 0,
        'spread': 'narrow',
        'container-spread': 'narrow',
);

$gray: #e9e9e9;

body {
    //background-color: #000;
    -webkit-font-smoothing: antialiased;
    font-family: 'med';
}

*:focus {
    outline: none;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 6.25%;
    box-sizing: border-box;
    @media (min-width: 768px){
        padding: 0 2.6%;
    }
    @media (min-width: 1240px){
        padding: 0 40px;
    }
}

.button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

}

.button--blue{
    line-height: 44px;
    color: $gray;
    background-color: #5c7ad2;
    font-family: med;
    font-size:14px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    min-width: 160px;
    border-radius: 2px;
    box-shadow: 0px 10px 21px 0 rgba(89, 112, 180, 0.58);
    @media (min-width: 768px){
        line-height:70px;
        font-size:16px;
        min-width:264px;
    }
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #000;
}

.header{
    &.white{

    }
    padding: 40px 6.25% 0;
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    &__shadow{
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
        background: -o-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
    }
    
    z-index:3;
    &__text{
        display: none;
    }
    &__button{
        display: block;
        text-align: center;
        min-width: 120px;
        &-wrapper{
            position: absolute;
            right: 70px;
            bottom: 5px;
            z-index: 1;

        }
    }
    &__logo{
        width: span(1 of 4);
        img{
            width: 60px;
            display: block;
            & + img{
                margin-top: 7px;
            }
        }
    }
    &__hamburger{
        position: absolute;
        width:40px;
        height:40px;
        right: 15px;
        bottom: 10px;
        z-index:3;
        span,span::before,span::after{
            display: block;
            background-color: #fff;
            width:30px;
            height:2px;
            transition: 0.3s ease;
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:before,&:after{
                position: absolute;
                content: '';
            }
            &::before{
                transform: translate(0,-9px);
            }
            &::after{
                transform: translate(0,9px);
            }
        }

        &.active{
            span{
                background-color: transparent;
                &::before{
                    transform: translate(0,0) rotate(-45deg);
                }
                &::after{
                    transform: translate(0,0) rotate(45deg);
                }
            }
        }

    }
    &__menu{
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(18, 18, 18);
        width:100%;
        max-width: 300px;
        height: 100vh;
        z-index: 2;
        padding: 50px 15px 20px 20px;
        box-sizing: border-box;
        overflow-y: scroll;
        transform: translate(100%, 0);
    }
    &__navigation{
        margin-bottom: 50px;
    }
    &__logo-side{
        display: none;
    }

    @media (min-width: 768px){
        padding: 70px 2.6% 0;
        &__text{
            position: absolute;
            top: 142px;
            left: 20px;
            display: block;
        }
        &__logo{
            width: 40%;
            img{
                display: inline-block;
                vertical-align: middle;
                & + img{
                    margin-top: 0;
                    margin-left: 28px;
                }
                &:nth-child(1){
                    width: 110px;
                }
                &:nth-child(2){
                    width: 104px;
                }
            }


        }
        &__button-wrapper{
            bottom: -17px;
            right: 134px;
            width: 34%;
             max-width: 265px;
        }
        &__button{

        }
        &__hamburger{
            width: 50px;
            height: 50px;
            bottom: -5px;
            right: 34px;
            span,span::before,span::after{
                width:40px;
            }
        }
    }
    @media (min-width: 1240px){
        padding: 0;
        position: absolute;
        &__logo{
            display: none;
        }
        &__shadow{
            display: none;
        }
        &__logo-side{
            display: block;
            margin-bottom:35px;
            position: absolute;
            left: 20px;
            top: 30px;
            img{
                display: inline-block;
                vertical-align: middle;
                &:nth-child(1){
                    width: 110px;
                }
                &:nth-child(2){
                    width: 104px;
                    margin-left: 30px;
                }
            }

        }
        &__text{
            top: 50px;
            left: 409px;
        }
        &__hamburger{
            display: none;
        }
        &__menu{
            transform: none;
            background-color: transparent;
            position: static;
            padding: 0;
            overflow: visible;
            height: auto;
            width: auto;
        }
        &__sidebar{
            position: fixed;
            right: 0;
            top: 0;
            background-color: #121212;
            width:100%;
            max-width: 300px;
            height: 100vh;
            z-index: 2;
            padding: 120px 15px 20px 20px;
            box-sizing: border-box;
            &.viewport-sidebar{
                transform: translate(100%,0);
                .menu__item--header{
                    transform: scale(.99) scaleZ(1) rotateX(-3deg) translateX(30px);
                    opacity: 0;
                }
                .header__button{
                    transform: scale(.99) scaleZ(1) rotateX(-3deg) translateX(30px);
                    opacity: 0;
                }
                .socials__text{
                    transform: scale(.99) scaleZ(1) rotateX(-3deg) translateX(30px);
                    opacity: 0;
                }
                .socials__item{
                    transform: scale(.99) scaleZ(1) rotateX(-3deg) translateX(30px);
                    opacity: 0;
                }

            }
        }
        &__navigation{
            overflow: hidden;
        }
        &__socials{
            position: absolute;
            bottom: 125px;
            left: 20px;
        }
        &__button-wrapper{
            position: absolute;
            bottom: 20px;
            right: 15px;
            width: 100%;
        }
    }
}

.text--header{
    font-size:21px;
    line-height:24px;
    color: $gray;


}

.socials__text{
    color: $gray;
    font-size:14px;
    line-height: 18px;
    width:171px;
    margin-bottom:10px;
}

.socials{
    font-size: 0;
    &__item{
        font-size: 14px;
        line-height: 24px;
        color: $gray;
        display: block;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        &::before{
            position: absolute;
            left: 0;
            top: 1px;
            color: $gray;
        }
        span{
            display: block;
            color: rgba(233, 233, 233, 0.4);
        }
        & + .socials__item{
           
        }
    }
}

.logo-word{
    display: none;
    @media (min-width: 768px){
        display: block;
    }
}

.menu{
    &__item--header{
        display: block;
        font-family:med;
        font-size:21px;
        color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 20px;
        span{
            display: inline-block;
            border-bottom:1px solid rgba(255,255,255,0.2);
            padding-bottom: 3px;
        }
    }
}


.main{
    &__top{
        padding: 6px 7.25%;
        margin: 0 -7.25%;
        font-size:  0;
        margin-bottom:  83px;
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }
    &__flags{
        display: inline-block;  
        vertical-align: middle;    
        width:  30%;
        img{
            width: 18px;
            display: inline-block;
            vertical-align: middle;
            & + img{
                margin-left: 5px;
            }
        }
    }
    &__date{
        width:  70%;
        display: inline-block;  
        vertical-align: middle;
        font-size:  14px;
        color: 545454;
        text-align: right;
        p{
            &:first-child{
                display: none;
            }
        }
    }
    &__text{
        //max-width: 365px;
    }
    @media (min-width: 768px) {
        &__top{
            margin: 0 -2.8% 124px;
            padding: 12px 2.8% 9px;
        }
        &__flags{
            margin: 0;
            img{
                width: 29px;
                & + img{
                    margin-left: 6px;
                }
            }
        }
        &__date{
            font-size: 16px;
            padding-right: 20px;
            box-sizing: border-box;
            p{
                display: inline-block;
                vertical-align: middle;
            }
            p:first-child{
                margin-right: 30px;
                display: inline-block;
            }
        }
        &__text{
            max-width: 730px;
        }
    }
    @media (min-width: 1240px) {
        &__top{
            padding: 0;
            margin: 0;
            border: none;
            padding-top: 2.3vw;
            margin-bottom: 2.9vw;
        }
        &__flags{
            width: 12.1vw;
            img{
                width: 3.125vw;
                & + img{
                    margin-left: 0.625vw;
                }
            }
        }
        &__date{
            font-size: 1.64vw;
            text-align: left;
             p:first-child{
                margin-right: 1.5625vw;
            }
        }
        &__text{
            max-width: none;
            // width: span(8 of 12);
        }
    }
}

.text--main{
    position: relative;
    img{
        position: absolute;
        top: -0.5vw;
        right: 0;
        width: 15.625vw;
        height: auto;
    }
    h3{
        color: $gray;
        font-size:21px;
        line-height: 24px;
        margin-bottom:23px;
    }
    h1{
        font-size:12.8125vw;
        color: #40bbdc;
        font-family: hv;
        margin-bottom:39px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        span{
            font-size: 11.25vw;
            letter-spacing: 3px;
            color: #e5638c;
            display: block;
            margin-top: 0.7vw;
        }
    }
    h2{
        font-size:26px;
        color: #e5648d;
        font-family:hv;
        margin-bottom: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p{
        font-size:14px;
        line-height: 17px;
        color: $gray;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -10px;
            background-color: rgb(80, 230, 130);
            box-shadow: 0px 3px 12px 0 rgba(80, 230, 130, 0.9);
            width: 43px;
            height: 3px;
        }
        & + p{
            margin-top: 27px;
        }
    }
    @media (min-width: 500px){
        p{
            font-size:2.8vw;
            line-height:3.6vw;
            & + p{
                margin-top: 3.5vw;
            }
        }
    }
    @media (min-width: 768px){
        font-size: 0;
        h3{
            display: none;
        }
        h1{
            font-size:107px;
            margin-bottom:82px;
            letter-spacing: 8px;
            span{
                font-size:  96px;
                letter-spacing: 7.2px;
                margin-top: -5px;
            }
        }
        p{
            font-size:21px;
            line-height: 24px;
            display: inline-block;
            vertical-align: top;
            width: 50%;
            box-sizing: border-box;
            padding-right: span(0.5 of 12);
            &:before{
                width: 74px;
                top: -19px
            }
            & + p{
                margin-top: 0;
            }
        }
        img{
            right: auto;
            top: -7px;
            left: 580px;
            width: 128px;
        }

    }
    @media (min-width:1240px) {
        h1{
            font-size: 10.46vw;
            letter-spacing: 0.7vw;
            margin-bottom: 5vw;
            span{
                font-size: 9.29vw;
                letter-spacing: 0.69vw;
                margin-bottom: -0.2vw;
            }
        }
        h2{
            font-size: 5.6vw;
            letter-spacing: 0.6vw;
            margin-bottom:3.9vw;
        }
        p{
            font-size: 1.6vw;
            line-height:1.8vw;
            padding-right: 3.9vw;
            &:nth-of-type(1){
                width: 33.16667%;
            }
            &:nth-of-type(2){
                width: 42.66667%;
            }
            &:before{
                width: 5.78vw;
                top: -1.48vw;
            }
        }
        img{
            left: 50.7vw;
            top: -5vw;
            width: 17.26vw;
            height: 12.57vw;
        }

    }
}



.title{
    font-family:exbold;
    font-size:24px;
    //line-height: 24px;
    color: $gray;
    &--white{
        color: #fff;
    }
    @media (min-width: 768px){
        font-size:36px;
        &--big{
            font-size: 48px;
        }
    }
    @media (min-width: 1240px){
        font-size:3.75vw;
        line-height:3.75vw;
        &--big{
            font-size:3.75vw;
            line-height:3.75vw;
        }
    }
}

.objectives{
    padding: 30px 0;
    &__title{
        margin-bottom: 15px;
    }
    &__list{
        max-width: 400px;
    }
    &__item{
        position: relative;
        padding: 6px 0 7px;
        box-sizing: border-box;
        border-top: 1px solid rgba(59, 59, 59, 0.6);
        border-bottom: 1px solid rgba(59, 59, 59, 0.6);
        & + .objectives__item{
            border-top: none;
        }
        p{
            font-size:14px;
            line-height: 17px;
            color: $gray;
            width: span(3.5 of 4);
        }
        span{
            position: absolute;
            top: 6px;
            right: 0;
            font-size:14px;
            color: #3b3b3b;
        }

    }
    @media (min-width: 768px){
        padding: 64px 0 50px;
       &__list{
        max-width: none;
       }
        &__title{
            margin-bottom: 26px;
        }
        &__item{
            padding: 20px 0;
            p{
                font-size:21px;
                line-height: 24px;
                width: span(11 of 12);
                max-width: 630px;
            }
            span{
                top: 20px;
                font-size:18px;
            }

        }
    }
    @media (min-width: 1240px){
        padding: 7vw 0 3.125vw;
        &__title{
            margin-bottom: 2.7vw;
        }
        &__list{
            max-width: none;
        }
        &__item{
            padding: 1.5vw 0;
            width: span(8.5 of 12);
            p{
                font-size:1.8vw;
                line-height: 2.1vw;
                width: span(6.5 of 9);
                max-width: 56.45vw;
            }
            span{
                top: 1.5vw;
                font-size:1.4vw;
            }

        }
    }
}









canvas {
    display: block;
    vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
    //transform-origin: top center;
    //transform: scale(1.2);
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: 0.6s ease;
    z-index:0;
} /* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
}
//canvas{
//    transition: 0.1s ease;
//}

.viewport{
    opacity: 0;
    transform: scale(.99) scaleZ(1) translateY(30px);
}

.showed{
    opacity: 1;
    transform: none;
    transform-origin: 0 0;
    perspective: 410;
    perspective-origin: 50% 50%;
    transition: all .9s cubic-bezier(.25,.46,.45,.94);
}