@import './node_modules/susy/sass/susy';
@import '_vars.scss';
@import '_reset.scss';

$susy: ( 'columns': susy-repeat(48),
'gutters': 0,
'spread': 'narrow',
'container-spread': 'narrow',
);


body {
    font-size: 14px;
    font-family: 'reg';
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    box-sizing: border-box;
    @media (min-width: 1024px) {
        padding: 0 40px;
    }
    @media (min-width: 1240px) {
        padding: 0;
    }
    @media (min-width: 1560px) {
        max-width: 1440px;
    }
}

*:focus {
    outline: none;
}

.button {
    border: none;
    background: none;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    &--gray {
        height: 60px;
        line-height: 58px;
        border: 1px solid #333333;
        color: #333333;
        font-size: 16px;
        font-family: 'light';
    }
}

.header {
    padding-top: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    &__container {
        font-size: 0;
    }
    &__logo {
        display: inline-block;
        vertical-align: top;
        width: span(2 of 12);
        max-width: 70px;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    &__menu{
    	display: none;
    }
    &__wrapper {
        width: span(6 of 12);
        display: inline-block;
        vertical-align: top;
        padding-left: span(0.5 of 12);
        box-sizing: border-box;
    }
    &__search {
        width: span(4 of 12);
        display: inline-block;
        vertical-align: top;
    }
    &__name {
        font-size: 14px;
        color: #000;
        font-family: 'med';
        margin-bottom: 5px;
    }
}

a {
    text-decoration: none;
}

.search {
    text-align: right;
    input {
        border: none;
        border-bottom: 1px solid #858585;
        background-color: #fff;
        width: 35px;
        height: 35px;
        transition: 0.3s ease;
        font-size: 0;
        padding-left: 20px;
        &:focus {
            width: 100%;
            outline: none;
            font-size: 14px;
        }
    }
}

.menu--header {
    .menu {
        &__item {
            display: inline-block;
            font-size: 14px;
            color: #6699ff;
            font-family: light;
            border-bottom: 1px solid rgba(102, 153, 255, 0.3);
            padding-bottom: 2px;
        }
    }
}

.main {
    position: relative; // min-height: 650px;
    &__container {}
    &__body {
        padding-top: 90px;
        box-sizing: border-box;
    }
    &__button {
        width: 100%;
        max-width: 320px;
    }
    &__text {
        max-width: 420px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.text {
    font-family: light;
    *+* {
        margin-top: 15px;
    }
}

.text--main {

    h1 {
        font-size: 24px;
        color: #333;
        font-family: 'med';
        &+p {
            margin-top: 20px;
        }
    }
    p {
        font-size: 16px;
        line-height: 20px;
        color: #000;
        a {
            margin-top: 0;
        }
    }
    *+button {
        margin-top: 30px;
    }

    a {
        color: #6699ff;
        border-bottom: 1px solid rgba(102, 153, 255, 0.3);
        display: inline-block;
        box-sizing: border-box;
    }
}


.form {
    &--main {
        padding: 25px 20px 35px;
        margin: 0 -20px;
        background: -moz-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
        /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(160, 91, 137, 1)), color-stop(100%, rgba(117, 74, 144, 1)));
        /* safari4+,chrome */
        background: -webkit-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
        /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
        /* opera 11.10+ */
        background: -ms-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
        /* ie10+ */
        background: linear-gradient(330deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
        /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a05b89', endColorstr='#754a90', GradientType=0);
        /* ie6-9 */
    }


    &__text {
        margin-bottom: 20px;
    }
    &__line {
        font-size: 0;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
    }
    &__body {
        margin: 0 auto;
        max-width: 320px;
    }
    &__input {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        input {
            border: none;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: rgba(28, 28, 28, 0.6);
            padding-left: 15px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    &__button {
        display: inline-block;
        vertical-align: top;
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__privacy {
        font-size: 12px;
        color: #fff;
        line-height: 14px;
        font-family: light;
        a {
            display: inline-block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 3px;
            color: inherit;
        }
    }
    &__response {
        display: none;
    }
    &__bg {
        display: none;
    }
}

.text--subscribe {
    h3 {
        font-size: 21px;
        font-family: 'med';
        color: #fff;
        &+p {
            margin-top: 10px;
        }
    }
    p {
        font-size: 16px;
        color: #fff;
    }
}

.button--blue-icon {
    height: 50px;
    line-height: 50px;
    background-color: #6699ff;
    font-size: 0;
    @media(min-width: 768px) {
        font-size: 18px;
        font-family: light;
        color: #fff;
    }
}


.posts {
    padding: 35px 0 25px;
    background-color: #f9f9f9;
    &__title {
        font-size: 21px;
        color: #333;
        font-family: 'med';
        margin-bottom: 15px;
    }
    &__tags {
        margin-bottom: 30px;
    }
    &__item {
        max-width: 350px;
        margin: 0 auto;
        &+.posts__item {
            margin-top: 20px;
        }
    }
    &__button {
        width: 100%;
        max-width: 350px;
        margin: 30px auto 0;
        display: block;
    }
    &__body {
        margin-bottom: 40px;
    }
    &__recomend {
        max-width: 350px;
        margin: 0 auto 30px;
        box-sizing: border-box;
    }
    &__promo {
        height: 390px;
        max-width: 350px;
        margin: 0 auto;
    }
}

.recomend--main {
    .recomend {
        &__body {
            border-top: 7px solid #a16af5;
            padding: 20px;
            background-color: #fff;
        }
        &__title {
            font-size: 18px;
            color: #333;
            font-family: 'med';
            margin-bottom: 20px;
        }
        &__post-title {
            font-size: 16px;
            color: #000;
            font-family: light;
            margin-bottom: 5px;
            display: block;
        }
        &__item {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50px;
                background-color: #a16af5;
                top: 5px;
                left: -13px;
            }
            &+.recomend__item {
                margin-top: 20px;
            }
        }

        &__link {
            color: #a16af5;
            font-family: light;
            font-size: 16px;
        }
    }
}

.text--recomend {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.tags--posts {
    .tags {
        &__title {
            font-size: 18px;
            color: #333;
            font-family: 'med';
            margin-bottom: 10px;
        }
    }
}

.list--tags {
    .list {
        &__item {
            color: #72a0ff;
            font-size: 14px;
            font-family: light;
            display: inline-block;
            border-bottom: 1px solid rgba(102, 153, 255, 0.3);
            margin-bottom: 5px;
            margin-right: 10px;
            a {
                color: inherit;
            }
        }
        &__more-tags {
            font-size: 14px;
            color: #000;
            display: inline;
            margin-left: 10px;
            font-family: light;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}


.post--card {
    height: 370px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    &.post--photo-top {
        .post {
            &__photo {
                height: 160px;
                top: 0;
            }
            &__description {
                padding: 180px 15px 0;
            }
            &__tags {
                border-top: 1px solid rgba(51, 51, 51, 0.2);
            }
        }
    }
    &.post--photo-bottom {
        .post {
            &__photo {
                height: 160px;
                bottom: 40px
            }
            &__description {
                padding: 20px 15px 0;
            }
        }
    }
    &.post--text {
        .post {
            &__text {
                display: block;
            }
            &__description {
                padding: 20px 15px 0;
            }
            &__excerpt {
                margin-bottom: 10px;
            }
            &__tags {
                border-top: 1px solid rgba(51, 51, 51, 0.2);
            }
        }
    }
    &.post--video {
        .post {
            &__photo {
                height: 330px;
                top: 0;
                img {
                    height: 100%;
                    width: auto;
                }
            }
            &__title {
                color: #fff;
                border: none;
                font-size: 21px;
                line-height: 30px;
            }
            &__excerpt {
                display: none;
            }
            &__text {
                display: none;
            }
            &__description {
                padding: 20px 15px 0;
            }
        }
    }
    .post {
        &__body {
            border-radius: 5px;
            box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.15);
            height: 100%;
            background-color: #ffffff;
            z-index: 0;
        }
        &__description {
            box-sizing: border-box;
        }
        &__text {
            display: none;
        }
        &__photo {
            width: 100%;
            position: absolute;
            left: 0;
            overflow: hidden;
            z-index: -1;
            img {
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;
                width: 100%;
            }
        }

        &__tags {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height: 40px;
            line-height: 38px;
            bottom: 0;
            left: 0;
            padding: 0 15px;
            z-index: 2;
        }
        &__excerpt {
            margin-top: 10px;
        }
        &__title {
            font-size: 18px;
            color: #333;
            line-height: 30px;
            border-bottom: 1px solid rgba(51, 51, 51, 0.3);
            display: inline;
            &::before{
            	content: '';
            	width: 100%;
            	height: 100%;
            	position: absolute;
            	z-index: 1;
            	top: 0;
            	left: 0;
            }
        }
    }
}

.text--post {
    color: rgba(0, 0, 0, 0.7);
}

.promo {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 100%;
            min-width: 100%;
            width: auto;
            height: 100%;
        }
    }
    &__title {
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        padding: 15px 20px 0;
        font-family: 'med';
    }
    &__button {
        position: absolute;
        z-index: 1;
        bottom: 20px;
        width: span(10 of 12);
        left: 50%;
        transform: translate(-50%, 0);
    }
}


.button--blue {
    height: 40px;
    font-size: 14px;
    font-family: light;
    line-height: 40px;
    border-radius: 2px;
    background-color: #6699ff;
    color: #fff;
    text-align: center;
}

.text--post-excerpt {
    line-height: 16px;
    font-family: 'light';
    font-size: 14px;
    color: #000;
}


.tags--post {
    .tags {
        &__item {
            color: #72a0ff;
            font-size: 14px;
            font-family: light;
            display: inline-block;
            a {
                color: inherit;
                border-bottom: 1px solid rgba(102, 153, 255, 0.3);
            }
            &+.tags__item {
                margin-left: 10px;
            }
        }
    }
}

.subscribe {
    padding: 25px 0 35px;
    background: -moz-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(160, 91, 137, 1)), color-stop(100%, rgba(117, 74, 144, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(120deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
    /* ie10+ */
    background: linear-gradient(330deg, rgba(117, 74, 144, 1) 0%, rgba(160, 91, 137, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a05b89', endColorstr='#754a90', GradientType=0);
    /* ie6-9 */
    &__bg {
        display: none;
    }
}

.popular {
    padding: 25px 0 35px;
    background-color: #f1f1f1;
    &__title {
        font-size: 21px;
        margin-bottom: 30px;
        font-family: 'med';
    }
    &__item {
        &+.popular__item {
            margin-top: 25px;
        }
    }
}

.post--popular {
    .post {
        &__title {
            color: rgba(51, 51, 51, 0.9);
            font-size: 18px;
            border-bottom: 1px solid rgba(51, 51, 51, 0.2);
            line-height: 24px;
        }
        &__excerpt {
            font-size: 16px;
            margin-top: 15px;
            color: #333333;
            line-height: 18px;
        }
    }
}

.footer {
    padding: 30px 0 0 0;
    &__title {
        font-size: 21px;
        color: #000;
        margin-bottom: 30px;
        font-family: 'med';
    }
    &__contact {
        padding-left: 30px;
        &+.footer__contact {
            margin-top: 25px;
        }
    }
    &__contacts {
        margin-bottom: 40px;
    }
    &__text {
        margin-bottom: 40px;
        max-width: 420px;
    }
    &__bottom {
        border-top: 1px solid rgba(51, 51, 51, 0.3);
        padding: 20px 0 25px;
    }
}

.text--privacy {
    p+a {
        margin-top: 12px;
    }
    a {
        color: #000000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        display: inline-block;
        padding-bottom: 3px;
    }
}

.text--footer {
    p {
        font-size: 18px;
        line-height: 20px;
    }
    a {
        border-bottom: 1px solid rgba(102, 153, 255, 0.3);
        color: #6699ff;
    }
}

.contact {
    &__name {
        font-size: 18px;
        color: #000;
        font-family: light;
    }
    &__link {
        font-size: 18px;
        color: #6699ff;
        font-family: light;
        border-bottom: 1px solid rgba(102, 153, 255, 0.3);
    }
}

@media (min-width: 768px) {
    .header {
        &__logo {
            max-width: none;
            width: span(1.5 of 12);
            vertical-align: middle;
            img {
                width: 80%;
            }
        }
        &__wrapper {
            width: span(7 of 12);
            padding-left: 0;
            vertical-align: middle;
        }
        &__search {
            width: span(3.5 of 12);
            vertical-align: middle;
            input {
                width: span(2.5 of 3);
                padding: 0 0 0 30px;
            }
        }
        &__name {
            display: inline-block;
            vertical-align: baseline;
            font-size: 18px;
            margin-bottom: 0;
        }
        &__menu {
            display: inline-block;
            vertical-align: baseline;
            width: span(4 of 7);
            margin-left: 15px;
        }
    }
    .menu--header {
        .menu {
            &__item {
                font-size: 16px;
                & + .menu__item{
                	margin-left: 10px;
                }
            }
        }
    }
    .main {
        &__body {
            padding-top: 140px;
        }
        &__button {
            width: span(4 of 12);
        }
        &__text {
            max-width: 600px;
        }
    }
    .text--main {
        h1 {
            font-size: 60px;
            line-height: 65px;
        }
        p {
            font-size: 21px;
            line-height: 26px;
        }
    }

    .search {
        input {
            font-size: 16px;
            &:focus {
                font-size: 16px;
            }
        }
    }

    .form {

        &--main {
            padding: 45px 20px;
        }
        &__body {
            max-width: 600px;
        }
        &__line {
            width: span(11 of 12);
            border-radius: 0;
        }
        &__input {
            width: span(8.3 of 12);
            input {
                border-radius: 2px;
            }
        }
        &__button {
            border-radius: 2px;
            width: span(3.5 of 12);
            position: static;
            margin-left: span(0.2 of 12);
        }
        &__privacy {
            font-size: 14px;
        }
    }

    .text--subscribe {
        h3 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
        }
    }

    .posts {
        padding: 55px 0 70px;
        &__item {
            max-width: none;
            display: inline-block;
            vertical-align: top;
            width: 50%;
            margin-bottom: 20px;
            padding: 0 10px;
            box-sizing: border-box;

            &+.posts__item {
                margin-top: 0;
            }
        }
        &__title {
            font-size: 40px;
            margin-bottom: 15px;
        }
        &__button {
            max-width: none;
            width: span(4 of 12);
        }
        &__recomend {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            max-width: none;
            height: 480px;            
	        padding: 0 10px;
        }
        &__promo {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            max-width: none;            
	        padding: 0 10px;
            height: 480px;
        }
        &__body{
        	margin-bottom: 70px;
        }
    }
	
	.tags--post{
		.tags{
			&__item{
				font-size: 16px;
			}
		}
	}

    .recomend--main {
        .recomend{
        	&__body{
        		height: 100%;
        		box-sizing: border-box;
        		padding: 20px 25px 0;
        	}
        	&__title{
        		font-size: 21px;
        	}
        }
    }
    .promo {
        border-radius: 0;
        overflow: visible;
        box-sizing: border-box;
        &__body{
        	position: relative;
        	height: 100%;
        	border-radius: 5px;
        	overflow: hidden;
        }
        &__title{
        	font-size: 30px;
			line-height: 34px;
			padding: 20px 25px 0;
        }
    }

    .tags--posts {
        .tags {
            &__title {
                font-size: 24px;
                margin-bottom: 30px;
            }
        }
    }

    .list--tags {
        .list__item {
            font-size: 16px;
            display: inline;
            margin-bottom: 0;
        }
        .list__more-tags {
            font-size: 16px;
        }
    }

    .post--card {
        overflow: visible;
        border-radius: 0;
        height: 440px;
        &.post--big{
        	height: 450px;
        	text-align: center;
        	.post{
        		&__title{
        			font-size: 30px;
        			line-height: 49px;
        			color: #fff;        			
        			border-bottom: 1px solid rgba(255,255,255,0.5);
        			width: 100%;
        		}
        		&__excerpt{
        			font-size: 18px;
        		}
        		&__body{
        			z-index: 0;
        		}
        		&__photo{
        			z-index: -1;
        		}
        		&__text{
        			display: none;
        		}
        		&__description{
        			padding: 95px 0 0!important;
        			width: span(8 of 12);
        			margin: 0 auto;
        		}
        		&__tags{
        			border-top: none;
        			bottom: 100px;
        			z-index: 2;
        		}
        	}
        }
        &.post--photo-top {
            .post {
                &__photo {
                    height: 200px;
                }
                &__description {
                    padding: 220px 20px 0;
                }
            }
            &.post--big{
            	width: 100%;
            	.post{
            		&__photo{
            			height: 100%;
            			&::before{
            				content: '';
            				position: absolute;
            				z-index: 1;
            				top: 0;
            				left: 0;
            				width: 100%;
            				height: 100%;
            				background-color: #333;
            				opacity: 0.6;
            			}
            		}
            		&__excerpt{
            			color: #fff;
            			font-size: 18px;
            		}
            	}
        		.tag{
        			color: rgba(255, 255, 255, 0.9);
        			a{
        				border-bottom: 1px solid rgba(255,255,255,0.5);
        			}
        		}
            }
        }
        &.post--photo-bottom {
            .post {
                &__photo {
                    height: 225px;
                }
                &__description {
                    padding: 25px 20px 0;
                }
            }
            &.post--big{
            	width: 100%;
            	.post{
            		&__photo{
            			height: 100%;
            			bottom: 0;
            			&::before{
            				content: '';
            				position: absolute;
            				z-index: 1;
            				top: 0;
            				left: 0;
            				width: 100%;
            				height: 100%;
            				background-color: #333;
            				opacity: 0.6;
            			}
            		}
            		&__excerpt{
            			color: #fff;
            		}
            	}
        		.tag{
        			color: rgba(255, 255, 255, 0.9);
        			a{
        				border-bottom: 1px solid rgba(255,255,255,0.5);
        			}
        		}
            }
        }
        &.post--text {
            .post {
                &__description {
                    padding: 25px 20px 0;
                }
            }
            &.post--big{
            	width: 100%;
            	.post{
            		&__title{
            			color: #333;
            			border-bottom: 1px solid rgba(102,153,255,0.5);
            		}
            	}
            }
        }
        &.post--video {
            .post {
                &__photo {
                    height: 400px;
                }
            }
            &.post--big{
            	width: 100%;
            	.post{
            		&__photo{
            			height: 100%;
            			img{
            				height: auto;
            				width: 100%;
            			}
            			&::before{
            				content: '';
            				position: absolute;
            				z-index: 1;
            				top: 0;
            				left: 0;
            				width: 100%;
            				height: 100%;
            				background-color: #333;
            				opacity: 0.6;
            			}
            		}
            		&__description{
            			padding-top: 65px!important;
            		}
            		&__title{
            			border-bottom: none;
            			line-height: 43px;
            		}
            	}
            	.tag{
        			color: rgba(255, 255, 255, 0.9);
        			a{
        				border-bottom: 1px solid rgba(255,255,255,0.5);
        			}
        		}
            }
        }
        .post {
            &__body {
                border-radius: 5px;
                overflow: hidden;
                position: relative;
            }
            &__title {
                font-size: 21px;
                line-height: 30px;
                margin-bottom: 20px;
            }
            &__excerpt {
                margin-top: 20px;
            }
            &__tags{
            	line-height: 36px;
            }
        }
    }

    .text--post {
        font-size: 16px;
        line-height: 18px;
    }
    .text--post-excerpt {
        font-size: 16px;
        line-height: 18px;
    }

    .subscribe {
        padding: 45px 20px;
    }

    .popular {
        padding: 50px 0 70px;
        &__title {
            font-size: 36px;
            margin-bottom: 40px;
        }
        &__item {
            &+.popular__item {
                margin-top: 30px;
            }
        }
    }

    .post--popular {
        .post {
            &__title {
                font-size: 24px;
                line-height: 30px;
                padding-bottom: 3px;
            }
            &__excerpt {
                margin-top: 20px;
                font-size: 21px;
            }
        }
    }

    .footer {
        padding: 50px 0 0;
        &__text {
            max-width: none;
        }
        &__title {
            font-size: 36px;
            margin-bottom: 45px;
        }
        &__contact {
            display: inline-block;
            vertical-align: top;
            width: span(6 of 12);
            padding-left: span(1 of 12);
            box-sizing: border-box;
            &+.footer__contact {
                margin-top: 0;
            }
            &:nth-child(n+3) {
                margin-top: 50px;
            }
        }
        &__bottom {
            padding: 20px 0 30px;
        }
    }

    .contact {
        &__name {
            font-size: 24px;
            margin-bottom: 5px;
        }
        &__link {
            font-size: 24px;
        }
    }

    .text--footer {
        p {
            font-size: 24px;
            line-height: 28px;
        }
    }

    .text--privacy {
        p,
        a {
            font-size: 21px;
        }
        p+a {
            margin-top: 20px;
        }
    }
}


@media (min-width: 1024px) {
    .header {
        &__logo {
            width: span(2 of 24);
            img {
                height: 70px;
                width: auto;
            }
        }
        &__wrapper {
            width: span(17.5 of 24);
        }
        &__search {
            width: span(4.5 of 24);
        }
        &__menu {
            width: span(11 of 18);
        }
    }

    .main {
        &__text {
            display: inline-block;
            vertical-align: top;
            width: span(14 of 24);
            max-width: none;
            margin-bottom: 0;
        }
        &__subscribe {
            width: span(9.5 of 24);
            margin: 0 0 0 span(0.5 of 24);
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &__button {
            width: span(6.5 of 14);
        }
    }

    .form--main {
        padding: 45px 35px 180px 30px;
        .form {
            &__button {
                font-size: 0;
                width: span(1.9 of 8);
                margin-left: span(0.1 of 8);
                max-width: 60px;
            }
            &__text {
                margin-bottom: 25px;
            }
            &__input {
                width: span(6 of 8);
            }
            &__body {
                max-width: none;
            }
            &__line {
                width: 100%;
            }
            &__privacy {
                font-size: 12px;
            }
        }
    }

    .text--main {
        p {
            font-size: 18px;
        }
    }


    .posts{
    	padding: 70px 0;
    	&__tags{
    		margin-bottom: 35px;
    		padding-left: span(1 of 24);
    	}
    	&__title{
			padding-left: span(1 of 24);
    	}
    	&__body{
    		width: span(22 of 24);
    		margin-left: span(0.5 of 24);
    	}
    	&__sidebar{
    		width: span(22 of 24);
    		margin-left: span(0.5 of 24);
    	}
    	&__promo{
			padding: 0 span(0.5 of 22);
			height: 520px;
    	}
    	&__recomend{
    		padding: 0 span(0.5 of 22);
    		height: 520px;
    	}
    	&__item{
    		padding: 0 span(0.5 of 22);
    		margin-bottom: 30px;
    	}
    	&__button{
    		width: span(6 of 24);
    	}
    }
	
	.promo{
		&__button{
			font-size: 18px;
			bottom: 25px;
		}
	}

	.button--blue{
		height: 50px;
		line-height: 50px;
	}

    .recomend--main{
		.recomend{
			&__body{
				padding: 35px 35px 0;
			}
			&__title{
				font-size: 24px;
			}
		}
    }

    .post--card{
    	height: 470px;
    	&.post--video{
    		.post{
    			&__photo{
    				height: 430px;
    			}
    		}
    	}
    }


    .subscribe {
        padding: 45px 0;
    }

    .form--subscribe {
        .form {
            &__body {
                max-width: none;
                padding-left: span(1 of 24);
            }
            &__line {
                width: span(16 of 23);
            }
            &__button {
                height: 60px;
                line-height: 60px;
                width: span(5.3 of 16);
                margin-left: span(0.2 of 16);
            }
            &__input {
                width: span(10.5 of 16);
                input {
                    height: 60px;
                    line-height: 60px;
                }
            }
            &__text {
                margin-bottom: 30px;
            }
        }
    }

    .popular {
        padding: 55px 0 95px;
        &__title {
            font-size: 40px;
            margin-bottom: 55px;
            padding-left: span(1 of 24);
        }
        &__list {
            padding-left: span(1 of 24);
        }
        &__item+.popular__item {
            margin-top: 35px;
        }
    }

    .post--popular {
        .post {
            &__title {
                font-size: 30px;
                line-height: 34px;
            }
            &__excerpt {
                margin-top: 15px;
            }
        }
    }

    .footer {
        padding: 55px 0 0;
        &__title {
            font-size: 40px;
            margin-bottom: 50px;
            padding-left: span(1 of 24);
        }
        &__contact {
            width: auto;
            padding-left: 0;
            padding-right: span(2.5 of 24);
            &:first-child {
                padding-left: span(1 of 24);
            }
            &:nth-child(n+3) {
                margin-top: 0;
            }
        }
        &__contacts {
            margin-bottom: 80px;
        }
        &__text {
            padding-left: span(1 of 24);
            margin-bottom: 70px;
        }
        &__bottom {
            padding: 20px 0 25px;
        }
        &__privacy {
            padding-left: span(1 of 24);
        }
    }
    .contact {
        &__name {
            font-size: 30px;
        }
        &__link {
            font-size: 30px;
        }
    }
    .text--footer {
        *+* {
            margin-top: 50px;
        }
        p {
            font-size: 30px;
            line-height: 36px;
        }
    }
    .text--privacy {
        p,
        a {
            display: inline-block;
        }
        p+a {
            margin: 0 0 0 30px;
        }
    }
}


@media (min-width: 1240px) {
    .header {
        &__logo {
            width: span(2 of 24);
        }
        &__wrapper {
            width: span(18 of 24);
        }
        &__search {
            width: span(4 of 24);
        }
    }
    .main {
        &__text {
            width: span(12 of 24);
        }
        &__subscribe {
            width: span(7.5 of 24);
            margin-left: span(3 of 24);
        }
        &__button {
            width: span(5 of 12);
        }
    }

    .posts{
    	padding: 65px 0;
    	&__title{
    		font-size: 48px;
    		padding-left: 0;
    	}
    	&__tags{
    		padding-left: 0;
    	}
    	&__body{
    		display: inline-block;
    		vertical-align: top;
    		width: span(16 of 24);
    		margin: 0;
    		transform: translate(-2.083333%, 0);
    	}
    	&__sidebar{
    		width: span(7 of 24);
    		margin-left: span(1 of 24);
    		display: inline-block;
    		vertical-align: top;
    	}
    	&__promo{
    		width: 100%;
    		height: 440px;
    	}
    	&__item{
    		margin-bottom: 50px;
    	}
    	&__tags{
    		margin-bottom: 40px;
    	}
    	&__recomend{
    		width: 100%;
    		height: auto;
    		margin-bottom: 20px;
    	}
    	&__button{
    		width: span(5 of 16);
    	}
    }

	.recomend--main{
		.recomend{
			&__body{
				height: auto;
				padding: 35px;
			}
		}
	}

    .text--main {
        p {
            font-size: 21px;
        }
        h1+p {
            margin-top: 30px;
        }
    }

    .form--subscribe {
        .form {
            &__line {
                width: span(14 of 23);
            }
            &__input {
                width: span(9.5 of 14);
            }

            &__button {
                width: span(4.3 of 14);
                margin-left: span(0.2 of 14);
            }
        }
    }

    .popular {
        padding: 95px 0;
        &__title {
            font-size: 48px;
            margin-bottom: 60px;
        }
        &__item+.popular__item {
            margin-top: 50px;
        }
    }

    .post--popular {
        .post {
            &__title {
                font-size: 36px;
                line-height: 40px;
            }
            &__excerpt {
                font-size: 24px;
            }
        }
    }

    .footer {
        padding: 100px 0 0;
        &__title {
            font-size: 48px;
            margin-bottom: 70px;
        }
        &__text {
            margin-bottom: 100px;
        }
    }
    .contact {
        &__name {
            font-size: 36px;
        }
        &__link {
            font-size: 36px;
        }
    }
}

@media (min-width: 1560px) {
    .header {
        &__logo {
            width: span(1.5 of 24);
        }
        &__wrapper {
            width: span(18.5 of 24);
        }
    }

    .main {
        &__body {
            padding-top: 190px;
        }
        &__text {
            width: span(11 of 24);
        }
        &__subscribe {
            width: span(7 of 24);
            margin-left: span(4 of 24);
        }
        &__button {
            width: span(4 of 11);
        }
    }

    .form--subscribe {
        .form {
            &__line {
                width: span(10.5 of 23);
            }
            &__input {
                width: span(7.5 of 11);
            }
            &__button {
                margin-left: span(0.2 of 11);
                width: span(3.3 of 11);
            }
        }
    }

    .posts{
    	padding: 90px 0 115px;
    	&__tags{
			margin-bottom: 45px;
    	}
    	&__body{
    		width: span(16 of 24);
    	}
    	&__sidebar{
    		margin-left: span(1.5 of 24);
    		width: span(6.5 of 24);
    	}
    	&__button{
    		width: span(4 of 16);
    	}
    	&__promo{
    		height: 500px;
    	}
    }

    .recomend--main{
    	.recomend{
    		&__post-title{
    			font-size: 18px;
    			margin-bottom: 10px;
    		}

    	}
    }


    .text--recomend{
    	font-size: 16px;
    }
		
	.post--card{
		height: 540px;
		&.post--big{
			height: 540px;
			.post{
				&__title{
					font-size: 36px;
					line-height: 52px;
				}
				&__excerpt{
					font-size: 21px;
					line-height: normal;
				}
				&__description{
					width: span(8 of 15);
				}
			}
		}
		&.post--photo-top{
			.post{
				&__photo{
					height: 256px
				}
				&__description{
					padding: 286px 30px 0;
				}
			}
		}
		&.post--text{
			.post{
				&__description{
					padding: 40px 30px 0;
				}
			}
		}
		&.post--photo-bottom{
			.post{
				&__photo{
					height: 256px;
					bottom: 55px;
				}
				&__description{
					padding: 40px 30px 0;
				}
			}
		}
		&.post--video{
			.post{
				&__photo{
					height: 485px;
				}
				&__title{
					font-size: 24px;
					line-height: 30px;
				}
				&__description{					
					padding: 35px 30px;
				}
			}
			&.post--big{
				.post{
					&__title{
						font-size: 36px;
						line-height: 48px;
					}
				}
			}
		}
		.post{
			&__title{
				font-size: 24px;
				line-height: 35px;
			}
			&__tags{
				height: 55px;
				line-height: 55px;
				padding: 0 30px;
			}
		}
	}

    .popular {
        padding: 85px 0 95px;
    }

    .post--popular {
        .post {
            &__excerpt {
                margin-top: 20px;
            }
        }
    }

    .text--main {
        h1 {
            font-size: 72px;
            line-height: 75px;
        }
    }
}

@import '_fonts.scss';