@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xiddy8');
  src:  url('fonts/icomoon.eot?xiddy8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xiddy8') format('truetype'),
    url('fonts/icomoon.woff?xiddy8') format('woff'),
    url('fonts/icomoon.svg?xiddy8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons-02:before {
  content: "\e900";
}
.icon-icons-03:before {
  content: "\e901";
}
.icon-icons-04:before {
  content: "\e902";
}
.icon-icons-05:before {
  content: "\e903";
}
.icon-icons-06:before {
  content: "\e904";
}
.icon-icons-07:before {
  content: "\e905";
}
.icon-icons-08:before {
  content: "\e906";
}
.icon-icons-09-09:before {
  content: "\e907";
}
