+b.contacts
	+e.container.container
		+e.title Контакты
		+e.body
			+e.left
				+e.col--1
					+e.contact.contact__.--mail
						+e.name Самый надежный способ
						+e.A(href="#").link me@gurbanov.ru
					+e.contact.contact__.--fb
						+e.name fb messenger
						+e.A(href="#").link kgurbanov
					+e.contact.contact__.--telegram
						+e.name telegram
						+e.A(href="#").link @kirill1
				+e.col--2
					+e.contact.contact__.--ln
						+e.name linkedin
						+e.A(href="#").link kgurbanov
					+e.contact.contact__.--insta
						+e.name instagram
						+e.A(href="#").link @kgurbanov
			+e.right.text--contacts
				p Номера телефона здесь нет, т.к. я не люблю звонки без предварительной договоренности. 
					a(href="#") Почему?