+b#footer.FOOTER.footer
    +e.container.container
        +e.text.text--footer
            h2 Связаться с организаторами
            p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности
        +e.socials.socials__
            +e.A(href="#").item.social__.--fb
                +e.logo
                +e.name username
            +e.A(href="#").item.social__.--tel
                +e.logo
                +e.name username
            +e.A(href="#").item.social__.--inst
                +e.logo
                +e.name username
            +e.A(href="#").item.social__.--gl
                +e.logo
                +e.name username