+b.FOOTER.footer
	+e.container.container
		+e.H2.title Всегда отвечаю. Но не всегда быстро
		+e.contacts
			+e.contact.contact__.--mail
				+e.name Самый надежный способ
				+e.A(href="#").link me@gurbanov.ru
			+e.contact.contact__.--fb
				+e.name fb messenger
				+e.A(href="#").link kgurbanov
			+e.contact.contact__.--telegram
				+e.name telegram
				+e.A(href="#").link @kirill1
		+e.text.text--footer
			p Номера телефона здесь нет, т.к. я не люблю звонки без предварительной договоренности. 
				a(href="#") Почему?
			p Меня можно найти в 
				a(href="#") фейсбуке 
				|  и на 
				a(href="#") линкедине 
				|  (вы же знаете, как 
				a(href='#') обойти блокировки
				| ?).
	+e.bottom
		+e.container.container
			+e.privacy.text--privacy
				p 2018 © Кирилл Горбунов. Все права защищены
				a(href="/policy.html") Политика конфиденциальности
