+b.HEADER.header
    +e.logo
        include ../../img/logo.svg
    +e.text.text--header
        p Интенсив 18 августа 2018
    +e.ASIDE.sidebar.viewport-sidebar
        +e.menu
            +e.NAV.navigation.menu__
                +e.A(href="#objectives").item--header
                    span Цели интенсива
                +e.A(href="#program").item--header
                    span Программа интенсива
                +e.A(href="#promo").item--header
                    span Свободный вход
                +e.A(href="#prizes").item--header.--small
                    span Призы
                +e.A(href="#timeline").item--header.--small
                    span Timeline
                +e.A(href="#experts").item--header
                    span Экспертное жюри
                +e.A(href="#partners").item--header
                    span Партнеры
                +e.A(href="#media").item--header
                    span Публикации в СМИ
            +e.socials.socials__
                +e.text
                    p По вопросам, связанным с участием команд
                +e.A(href='#').item--header.--mail
                    span ivanova@u.community
                +e.A(href='#').item--header.--telegram
                    span @sasha256 (Sasha Ivanova)
        +e.FORM.button-wrapper
            +e.INPUT(type='submit' value="Купить билет").button.button--blue

    +e.hamburger
        span

