+b.HEADER.header
	+e.container.container
		+e.wrapper
			+e.A(href="/" title="Логотип").logo
				img(src="/img/logo.jpg")
				+e.name Кирилл Гурбанов
			+e.UL.menu.menu__.--header
				+e.LI.item
					a(href="/contacts.html") Обо мне
				+e.LI.item
					a(href="/contacts.html") Консультация
				+e.LI.item
					a(href="/contacts.html") Контакты
		+e.hamburger
			span
		+e.search-button
		+e.search.search__
			+e.input.input__.--search
				input(placeholder="Поиск по сайту")
			+e.close
