+b.HEADER.header
    +e.container.container
        +e.left
            +e.logo
                img(src="/img/logo.svg")
            +e.menu--main.menu__
                +e.A(href="#photos").item--main
                    p Фотографии
                +e.A(href="#themes").item--main
                    p Темы
                +e.A(href="#speakers").item--main
                    p Спикеры
                +e.A(href="#program").item--main
                    p Программа
                +e.A(href="#partners").item--main
                    p Партнеры
                +e.A(href="#footer").item--main
                    p Контакты
        +e.right
            +e.menu--lang.menu__
                +e.A(href="#").item--lang.active
                    p RU
                +e.A(href="#").item--lang
                    p ESP
            +e.button.button--ham
                span