+b.HEADER.header
	+e.container.container
		+e.A(href="/" title="Логотип").logo
			img(src="/img/logo.jpg")
			p Кирилл Гурбанов
		+e.UL.menu.menu__.--header
			+e.LI.item
				a(href="/contacts.html") Контакты
		+e.search.search__
			input
			+e.results
				+e.A(href="#").result
				+e.A(href="#").result
				+e.A(href="#").result
