+b.SECTION.main
    +e.container.container
        +e.text.text--main
            h3 Интенсив 18 августа 2018
            h1 Whale tank
            h2 Bootcamp para criptoproyectos
            p Узнай, чем руководствуются инвесторы при выборе проектов! 18 августа — интенсивный тренинг для команд, готовящихся к ICO

