+b.main
    +e.left
    +e.right
        +e.slide.slide-1
            h2 Blockchain
        +e.slide.slide-2
            h2 is
        +e.slide.slide-3
            h2 coming
    +e.particles
        div#particles-js
