+b.SECTION.popular
	+e.container.container
		+e.H2.title Самые читаемые публикации
		+e.list
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Хватит звонить! Пишите.
				+e.excerpt У меня на телефоне отключены почти все уведомления.
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Люди испытали шок, когда узнали главный секрет
				+e.excerpt У меня на телефоне отключены почти все уведомления.
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Хватит звонить! Пишите.
				+e.excerpt У меня на телефоне отключены почти все уведомления.
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Хватит звонить! Пишите.
				+e.excerpt У меня на телефоне отключены почти все уведомления.