+b.SECTION.popular
	+e.container.container
		+e.H2.title Самые читаемые публикации
		+e.list
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Хватит звонить! Пишите.
				+e.excerpt У меня на телефоне отключены почти все уведомления.
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Люди испытали шок, когда узнали главный секрет похудения
				+e.excerpt Надеюсь, вы простите мне мою ироничную любовь к шок-заголовкам :)
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title #МифыЗОЖ: сколько времени требуется на ЗОЖ?
				+e.excerpt Продолжаем рубрику #МифыЗОЖ.
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title #МифыЗОЖ: сколько времени требуется на ЗОЖ?
				+e.excerpt Продолжаем рубрику #МифыЗОЖ.
			+e.ARTICLE.item.post__.--popular
				+e.A(href="#").title Хватит звонить! Пишите.
				+e.excerpt У меня на телефоне отключены почти все уведомления.