+b.SECTION.posts
	+e.container.container
		+e.H2.title Веду блог
		+e.tags.tags__.--posts
			+e.H3.title Популярные теги
			+e.UL.list.list__.--tags
				+e.LI.item.tag
					a(href="#") Trials
				+e.LI.item.tag
					a(href="#") Здоровье
				+e.LI.item.tag
					a(href="#") Жизнь
				+e.LI.item.tag
					a(href="#") Развитие
				+e.LI.item.tag
					a(href="#") Образование
				+e.LI.item.tag
					a(href="#") Искусство
				+e.BUTTON(type="button").more-tags.button
		+e.body
			+e.ARTICLE.item.post__.--card.--photo-top
				+e.body
					+e.photo
						img(src="/img/post/1.jpg")
					+e.description
						+e.title Отказ от алкоголя и денег (почти). Трайлы ноября.
						+e.excerpt.text--post-excerpt
							p Продолжая тему своих трайлов в 2017 году, рассказываю о двух из 3-х вызовах, которые я поставил себе в ноябре.
					+e.UL.tags.tags__.--post
						+e.LI.item.tag
							a(href="#") Trials
						+e.LI.item.tag
							a(href="#") Здоровье
						+e.LI.item.tag
							a(href="#") Жизнь
			+e.ARTICLE.item.post__.--card.--photo-bottom
				+e.body
					+e.description
						+e.title Отказ от алкоголя и денег (почти). Трайлы ноября.
						+e.excerpt.text--post-excerpt
							p Продолжая тему своих трайлов в 2017 году, рассказываю о двух из 3-х вызовах, которые я поставил себе в ноябре.
					+e.photo
						img(src="/img/post/2.jpg")
					+e.UL.tags.tags__.--post
						+e.LI.item.tag
							a(href="#") Trials
						+e.LI.item.tag
							a(href="#") Здоровье
						+e.LI.item.tag
							a(href="#") Жизнь
			+e.ARTICLE.item.post__.--card.--text
				+e.body
					+e.description
						+e.title Отказ от алкоголя и денег (почти). Трайлы ноября.
						+e.excerpt.text--post-excerpt
							p Продолжая тему своих трайлов в 2017 году, рассказываю о двух из 3-х вызовах, которые я поставил себе в ноябре.
						+e.text.text--post
							p Даже находясь у нас в программе, люди тратят на нее не больше 5 часов в неделю, а ведь это интенсивное обучение, и 2 часа из этих пяти занимает еженедельная лекция. А что вне обучения? Давайте смотреть.			
					+e.UL.tags.tags__.--post
						+e.LI.item.tag
							a(href="#") Trials
						+e.LI.item.tag
							a(href="#") Здоровье
						+e.LI.item.tag
							a(href="#") Жизнь
			+e.ARTICLE.item.post__.--card.--video
				+e.body
					+e.preview
						img(src="/img/post/video.jpg")
						span
					+e.UL.tags.tags__.--post
						+e.LI.item.tag
							a(href="#") Trials
						+e.LI.item.tag
							a(href="#") Здоровье
						+e.LI.item.tag
							a(href="#") Жизнь
			+e.BUTTON(type="button").button.button--gray Загрузить ещё
		+e.sidebar
			+e.recomend.recomend__
				+e.title Рекомендую почитать
				+e.list
					+e.item.post__.--recomend
						+e.title Перестаньте ходить на встречи. Итоги трайла.
						+e.text.text--recomend
							p Одним из trials октября (помимо отказа от кофе) у меня стал эксперимент по лучшему менеджменту основных «пожирателей» времени.
					+e.item
						+e.title Иконка Апстора
						+e.A(href="#").link ilyabirman.ru
			+e.promo.promo__
				+e.bg
					img(src="/img/promo.jpg")
				+e.title Первая в России корпоративная киберлига
				+e.A(href="#").button.button--blue Подробнее