+b.post--page
	+e.container.container
		+e.photo
			img(src='/img/post/1.jpg')
		+e.wrapper
			+e.H1.title Люди испытали шок, когда узнали главный секрет похудения
			+e.excerpt Надеюсь, вы простите мне мою ироничную любовь к шок-заголовкам :)
			+e.body.text--post-page
				p Я давно занимаюсь стартапами, и непонаслышке знаю знаменитое правило о том, что если ты не можешь за 40 секунд просто и понятно. <br>В случае с GetLean — это был, пожалуй, первый раз, когда я долго не мог сформулировать короткий питч о сути программы. Потребовалось много месяцев, чтобы у нас с Юлей выкристаллизовалось понимание и соответствующее объяснение того, ЧТО ЖЕ ТАКОЕ GETLEAN.
				+b.aside
					p В случае с GetLean — это был, пожалуй, первый раз, когда я долго не мог сформулировать короткий питч о сути программы.
					+e.content
						a(href="#") Подробнее о GetLean
				p С момента моего похудения вопрос «Так, а какой главный секрет все-таки?» является самым частым вопросом, который я слышу. Итак, спрашивали — отвечаем.
				+b.aside
					p То же самое и с похудением. Не существует какого-то одного правила, которое сразу решит все проблемы. Зато есть целый набор принципов функционирования нашего организма и психологии, комбинация которых определяет вашу форму. Чем большему числу принципов вы следуете, тем в лучшей форме пребываете. Всё просто.
					+e.content
						+b.A(href="#").recomendation.out
							h3 Рекомендую почитать
							span Telegram выпустил альтернативный клиент Telegram X для Android
							p То же самое и с похудением. Не существует какого-то одного правила, которое сразу решит все проблемы. Зато есть целый набор принципов функционирования нашего организма и психологии, комбинация которых определяет вашу форму.
				h3 Главного секрета нет.
				p Все почему-то ожидают услышать заветное «не есть после шести» или «отказаться от сладкого и мучного», но эти и другие мифы всего лишь следствие всеобщего заблуждения о том, что чтобы похудеть, непременно нужно страдать.
				+b.highlight
					p Страдать не нужно.
				p Когда становишься взрослым, понимаешь, что волшебных таблеток и серебряных пуль в жизни не бывает — любые выдающиеся результаты, в чём бы то ни было, требуют лишь методичной и длительной работы. За большими успехами в бизнесе стоят десятки лет труда, за красивыми фигурами фитнес-моделей — часы, проведенные в спортзале; за научными достижениями — годы в лабораториях. Исключения встречаются очень редко.
				+b.aside
					p То же самое и с похудением. Не существует какого-то одного правила, которое сразу решит все проблемы. Зато есть целый набор принципов функционирования нашего организма и психологии, комбинация которых определяет вашу форму. Чем большему числу принципов вы следуете, тем в лучшей форме пребываете. Всё просто.
					+e.content
						+b.A(href="#").recomendation
							h3 Рекомендую почитать
							span Telegram выпустил альтернативный клиент Telegram X для Android
							p То же самое и с похудением. Не существует какого-то одного правила, которое сразу решит все проблемы. Зато есть целый набор принципов функционирования нашего организма и психологии, комбинация которых определяет вашу форму.
				p В чем уникальность и одновременно, до скуки, простота GetLean? В том, что это всего лишь набор знаний. Это обучающая программа на 6 недель, которая включает в себя всё, что вам нужно для того, чтобы достичь своей базовой формы и более никогда не выходить из нее.
				p Здесь самое время рассказать про суть всех диет. Принципы снижения веса по своей природе универсальны и подходят всем. Диеты основаны на одних и тех же принципах, и являются их частными случаями. Если вы им следуете, вы худеете. Однако стоит пройти году или двум, как вы почувствуете себя находящимся в заложниках у диеты. Вы не будете знать, как именно она работает, и любое отступление от строгих правил может вернуть вас в изначальное состояние.
				blockquote 
					p Иван Петров — знаток в похудении
					p Нравится есть пиццу через день? Ешьте на здоровье! Жить не можете без тортов? Окей, нет проблем. Выпиваете пару бутылок вина в неделю? И это тоже нормально.
				+b.aside
					p В случае же с обучающей программой времени придется потратить больше. Мы как-то даже считали — получилось что-то около 5 часов в неделю на всё про всё: на лекцию, на домашние задания, на «тупку» в ресторанах и магазинах, на дополнительную готовку дома.
					+e.content
						+b.definition 
							p Грааль (лат. Gradalis) — в средневековых кельтских и нормандских легендах одно из орудий Страстей — чаша, из которой Иисус Христос вкушал на Тайной вечере.
				p Ваша личная система пищевых привычек будет выстроена вокруг любимых блюд и ритуалов. Вы не будете бояться отступить от строгих правил, потому что их попросту не будет. Все правила вы устанавливаете сами.
				p Звучит великолепно, не правда ли? Вот он, священный грааль. Так и есть, за одним лишь «но» — эти знания нужно усвоить. Диеты потому так популярны, что говорят вам: «Это можно, а это нельзя». Изучение новой диеты занимает два часа.
				+b.highlight
					p В этом и вся магия — в ее отсутствии
				ul
					li Пример списка
					li Звучит великолепно, не правда ли? Вот он, священный грааль. Так и есть, за одним лишь «но» — эти знания нужно усвоить. Диеты потому так популярны, что говорят вам:
					li В случае же с обучающей программой времени придется потратить больше.
				p В случае же с обучающей программой времени придется потратить больше. Мы как-то даже считали — получилось что-то около 5 часов в неделю на всё про всё: на лекцию, на домашние задания, на «тупку» в ресторанах и магазинах, на дополнительную готовку дома.
			+e.tags
				+e.A(href="#").tag Trials
				+e.A(href="#").tag Саморазвитие
				+e.A(href="#").tag Тайм-менеджмент
			+e.sharing
				p Поделиться публикацией
				+e.sharing-wrapper
					+e.button-share--twitter
					+e.button-share--facebook
					+e.button-share--vk
					+e.button-share--telegram
			+e.sharing--aside
				+e.sharing-wrapper
					+e.button-share--twitter.--blured
					+e.button-share--facebook.--blured
					+e.button-share--vk.--blured
					+e.button-share--telegram.--blured
			+e.postscriptum.text--post-page
				h3 Впервые в моем блоге?
				p Можете узнать подробнее 
					a кто я такой и чем занимаюсь.
				p А также прочитать историю 
					a как я похудел на 54кг и теперь помогаю с этим другим.
			+e.comments
