+b.similar
	+e.container.container
		+e.title Похожие посты
		+e.slider.swiper-container
			div.swiper-wrapper
				+e.ARTICLE.item.post__.--card.--photo-top.swiper-slide
					+e.body
						+e.photo
							img(src="/img/post/1.jpg")
						+e.description
							+e.A(href="#").title Отказ от алкоголя и денег (почти). Трайлы ноября.
							+e.excerpt.text--post-excerpt
								p Продолжая тему своих трайлов в 2017 году, рассказываю о двух из 3-х вызовах, которые я поставил себе в ноябре.
							+e.text.text--post
						+e.UL.tags.tags__.--post
							+e.LI.item.tag
								a(href="#") Trials
							+e.LI.item.tag
								a(href="#") Здоровье
							+e.LI.item.tag
								a(href="#") Жизнь
				+e.ARTICLE.item.post__.--card.--video.swiper-slide
					+e.body
						+e.description
							+e.A(href="#").title Beautiful Relaxing Music: Norway's Nature
							+e.excerpt.text--post-excerpt
							+e.text.text--post
						+e.photo
							img(src="/img/post/3.jpg")
						+e.UL.tags.tags__.--post
							+e.LI.item.tag
								a(href="#") Trials
							+e.LI.item.tag
								a(href="#") Здоровье
							+e.LI.item.tag
								a(href="#") Жизнь
				+e.ARTICLE.item.post__.--card.--photo-bottom.swiper-slide
					+e.body
						+e.description
							+e.A(href="#").title Отказ от алкоголя и денег (почти). Трайлы ноября.
							+e.excerpt.text--post-excerpt
								p Продолжая тему своих трайлов в 2017 году, рассказываю о двух из 3-х вызовах, которые я поставил себе в ноябре.
							+e.text.text--post
						+e.photo
							img(src="/img/post/2.jpg")
						+e.UL.tags.tags__.--post
							+e.LI.item.tag
								a(href="#") Trials
							+e.LI.item.tag
								a(href="#") Здоровье
							+e.LI.item.tag
								a(href="#") Жизнь