+b.SECTION.subscribe
	+e.container.container
		+e.form.form__.--subscribe
			+e.body
				+e.text.text--subscribe
					h3 Подписаться на рассылку
					p Пришлю лучшие материалы. Без спама.
				+e.line
					+e.input
						input(placeholder="Ваш e-mail")
					+e.BUTTON(type="button").button.button--blue-icon Подписаться
				+e.privacy
					p Нажимая «Подписаться», вы даете согласие на 
						a(href="#") обработку персональных данных
			+e.response.text--respons
				span Вы успешно подписались!