+b.SECTION.subscribe
	+e.container.container
		+e.form.form__.--subscribe
			+e.body
				+e.text.text--subscribe
					h3 Подписаться</br> на рассылку
					p Пришлю лучшие материалы. Без спама.
				+e.line
					+e.input
						input
					+e.BUTTON(type="button").button.button--blue-icon
				+e.privacy
					p Нажимая «Подписаться», вы даете согласие на 
						a(href="#") обработку персональных данных
			+e.respons.text--respons
				span Вы успешно подписались!
		+e.bg
			img(src="/img/mail.svg")