+b.photos
    +e.container.container
        +e.title.title Фотографии конгресса
        +e.body.slider__
            +e.A(href="#").item
                img(src="/img/photos/1.jpg")
            +e.A(href="#").item
                img(src="/img/photos/2.jpg")
            +e.A(href="#").item
                img(src="/img/photos/3.jpg")
            +e.A(href="#").item
                img(src="/img/photos/4.jpg")
            +e.A(href="#").item
                img(src="/img/photos/5.jpg")
        +e.BUTTON(type="button").button.button--blue-border Все фотографии