extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    .background
    include blocks/particles.pug
    .content
        +b.SECTION.main
            +e.container.container
                +e.text.text--main
                    img(src="/img/date.svg").viewport
                    //h3.viewport Интенсив 18 августа 20181
                    h1.viewport Blockchain Bootcamp
                    //h2.viewport Bootcamp para criptoproyectos
                    p.viewport Serie de eventos para transformar desarrolladores en avanzados arquitectos Blockchain.
                    p.viewport Octubre y Noviembre — entrenamiento intensivo para los que están cambiando la historia de la humanidad con Blockchain.
        +b#objectives.SECTION.objectives
            +e.container.container
                +e.H2.title.title.viewport Objetivos:
                +e.list
                    +e.item.viewport
                        p.viewport Blockchain Bootcamp es una excelente oportunidad para nadar profundo en la industria Blockchain, ver de adentro cómo funciona la cadena de bloques
                        span.viewport 01
                    +e.item.viewport
                        p.viewport Participar en sesión de código, hacer preguntas a uno de los mejores desarrolladores blockchain del mundo, al juzgado y a los equipos y los referentes de ecosistema blockchain de América Latina.
                        span.viewport 02
                    +e.item.viewport
                        p.viewport Conocer los potenciales inversores y empleadores
                        span.viewport 03
        +b.SECTION.skills
            +e.container.container
                +e.H2.title.title--white.viewport El Blockchain bootcamp va a tener tres partes
                +e.list
                    +e.item--icon-1.viewport Que es Blockchain
                    +e.item--icon-2.viewport Protocolos de consenso
                    +e.item--icon-3.viewport Transacciones en Blockchain
                    +e.item--icon-4.viewport NEM Tech
                    +e.item--icon-5.viewport NEM Catapult
        +b#program.SECTION.program
            +e.container.container
                +e.H2.title.title.viewport En transcurso del Bootcamp van a aprender:
                +e.list
                    +e.item.viewport
                        include ../img/1.svg
                        //img(src="/img/1.svg").viewport
                        h3 CONGRESO (Serie de meetups y charlas)
                        p Los referentes de la industria Blockchain en América Latina van a compartir sus experiencias, secretos y growth hacks.
                    //- +e.item.viewport
                    //-     include ../img/2.svg
                    //-     //img(src="/img/2.svg").viewport
                    //-     h3.viewport Работа в группах
                    //-     p.viewport Все участники смогут разделиться на группы «по интересам» и задать свои вопросы экспертам. А также узнать их профессиональное мнение о своих наработках и идеях.
                    +e.item.viewport
                        include ../img/3.svg
                        //img(src="/img/3.svg").viewport
                        h3 CAPACITACIÓN
                        p A cargo de Shin Tatt Wong, Arquitecto de soluciones & Entrenador Técnico de NEM Malasia.
        +b#promo.SECTION.promo
            +e.container.container
                +e.H2.title.title.viewport В мире блокчейна возможно все!
                +e.text
                    p.viewport На питчинг с 19:00 будет свободный вход. Все желающие и интересующиеся могут посмотреть на проекты команд, пообщаться с жюри, с командой U.Community и спикерами. И, возможно, с потенциальными инвесторами или работодателями!
        +b#prizes.SECTION.prizes
            +e.container.container
                +e.title.title.viewport Para ganadores – premios
                +e.text
                    p.viewport Según la presentación final el juzgado indica 1 ganador.
                    p.viewport Los observadores votan en blockchain.
                    p.viewport Mas el premio de uno de los sponsor.
                    span.viewport Каждый призер также получит: <br>Listado en exchange descentralizado NEM<br>Publicacion en IPRO.up<br>Contrato de implementación
                +e.graphics
                    +e.item--pink.viewport-praph
                        p 1 puesto
                        span 100 000 XEM
                    +e.item--blue.viewport-praph
                        p 2 место
                        span tu empresa aca
                    +e.item--darkblue.viewport-praph
                        p 3 место
                        span Municipalidad
        +b#timeline.SECTION.timeline
            +e#timeline-bg.bg
            +e.container.container
                +e.top
                    +e.H2.title.title.viewport Timeline
                    +e.time.viewport 11:30 — 22:30
                +e.table.table__
                    +e.section.viewport._fixWrapper
                        +e.item
                            +e.text--big
                                p.viewport._fixLeft Интенсив от команды U.Community
                                span.viewport Лекционная часть + 2 часа работы в группах с менторами из команды U.Community
                                ul
                                    li.viewport
                                        a(href="#") Александр Петров
                                        |   , бизнес-ангел — вступительное слово
                                        img(src="/img/3.jpg")
                                    li.viewport
                                        a(href="#") Анзор Дауров
                                        |   , гид и ментор проектов в U.Community — White Paper на 1-2-3. Как создать привлекательную для инвесторов кампанию
                                        img(src="/img/team/1.jpg")
                                    li.viewport
                                        a(href="#") Evgeniy Konstantinov
                                        |   , chef knowledge officer U.Community — Как организовать эффективную баунти-кампанию и вовлечь коммьюнити в свой проект, Как организовать правильный саппорт
                                        img(src="/img/team/2.jpg")
                                    li.viewport
                                        a(href="#") Sasha Ivanova
                                        |   , Chief Marketing Officer U.Community — Маркетинг, листинги, трафик, пресса
                                        img(src="/img/team/4.jpg")
                                    li.viewport
                                        a(href="#") Анти Данилевский
                                        |   — Работа с фондами, лидерами мнений и адвайзерами
                                        img(src="/img/team/3.jpg")
                                    li.viewport
                                        a(href="#") Андрей Перепелица1
                                        |   , CTO U.Community —  Что нужно учесть в технической подготовке к ICO
                                        img(src="/img/team/5.jpg")
                                    li.viewport
                                        a(href="#") Evgeniy Ovsyankin
                                        |   , U.Community — Правовые вопросы ICO
                                        img(src="/img/team/8.jpg")
                                    li.viewport
                                        a(href="#") Александр Петров
                                        |   , CFO KICKICO  — Презентация и питчинг
                                        img(src="/img/3.jpg")
                            +e.time--big.viewport._fixRight 11:30 — 18:00
                    +e.section.viewport._fixWrapperSecond
                        +e.item
                            +e.text--big
                                p.viewport Питчинг проектов — вход свободный по предварительной регистрации
                            +e.time--big.viewport 19:00 — 21:30
                        +e.item
                            +e.text--small
                                p.viewport Представление экспертного жюри
                            +e.time--small.viewport 19:00 — 19:30
                        +e.item
                            +e.text--small
                                p.viewport Питчинг команд
                            +e.time--small.viewport 19:30 — 21:20
                        +e.item
                            +e.text--small
                                p.viewport Награждение победителей
                            +e.time--small.viewport 21:20 — 21:30
                    +e.section.viewport
                        +e.item
                            +e.text--big
                                p.viewport Нетворкинг
                            +e.time--big.viewport 21:30 — 22:30
        +b#experts.SECTION.experts
            +e.container.container
                +e.title.title--big.viewport Экспертное жюри
                +e.list
                    +e.item.viewport
                        +e.photo
                            img(src="/img/team/1.jpg")
                        +e.A(href="#").name Александр Петров
                        +e.organization KICKICO
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/2.jpg")
                        +e.A(href="#").name.viewport Анти Данилевский
                        +e.organization.viewport KICKICO
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/3.jpg")
                        +e.A(href="#").name.viewport Анатолий Поединцев
                        +e.organization.viewport ICORating
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/4.jpg")
                        +e.A(href="#").name.viewport Рустем Давлетбаев
                        +e.organization.viewport Иннополис
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/5.jpg")
                        +e.A(href="#").name.viewport Николай Ермаков
                        +e.organization.viewport Nakamoto Capital
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/6.jpg")
                        +e.A(href="#").name.viewport Анастасия Тюрина
                        +e.organization.viewport ВЭБ
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/7.jpg")
                        +e.A(href="#").name.viewport Шухрат Джураев
                        +e.organization.viewport Cryptania
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/8.jpg")
                        +e.A(href="#").name.viewport Алексей Воронин
                        +e.organization.viewport Icolab
                    +e.item
                        +e.photo.viewport
                            img(src="/img/team/9.jpg")
                        +e.A(href="#").name.viewport Анатолий Радченко
                        +e.organization.viewport United Traders
        +b#partners.SECTION.partners
            +e.container.container
                +e.title.title--big.viewport Партнеры
                +e.list.viewport-list
                    +e.A(href="#").item
                        img(src='/img/partners/1.png')
                    +e.A(href="#").item
                        img(src='/img/partners/2.png')
                    +e.A(href="#").item
                        img(src='/img/partners/3.png')
                    +e.A(href="#").item
                        img(src='/img/partners/4.png')
                    +e.A(href="#").item
                        img(src='/img/partners/5.png')
                    +e.A(href="#").item
                        img(src='/img/partners/6.png')
                    +e.A(href="#").item
                        img(src='/img/partners/7.png')
                    +e.A(href="#").item
                        img(src='/img/partners/8.png')
                    +e.A(href="#").item
                        img(src='/img/partners/9.png')
                    +e.A(href="#").item
                        img(src='/img/partners/10.png')
        +b#media.media
            +e.container.container
                +e.H2.title.title--big.viewport Публикации в СМИ
                +e.list
                    +e.A(href="#").item.viewport
                        span Экономист Тур Демеестер: Bitcoin сильно не подорожает в этом году
                    +e.A(href="#").item.viewport
                        span Что такое биткоин-ETF и зачем он нужен
                    +e.A(href="#").item.viewport
                        span Калькулятор майнинга: сколько можно заработать прямо сейчас
                    +e.A(href="#").item.viewport
                        span Оператор Нью-Йоркской фондовой биржи запустит криптовалютную платформу
                    +e.A(href="#").item.viewport
                        span Чжао Чанпэн: безопасность — фундаментальная основа для криптовалют
                +e.A(href="#").download.viewport
                    span Больше публикаций
        +b.registration
            +e.container.container
                +e.H2.title.title--big.viewport Регистрация
                +e.text
                    p.viewport 499$ с команды
                    p.small.viewport 999$
                    span.viewport Минимум — 2 человека
                    span.viewport Максимум — 6 человек
                +e.FORM.form.form__
                    +e.body
                        +e.input--big.input__.check.error.viewport
                            input(name="name" autocomplete="off" id="name")
                            +e.LABEL(for="name").label Ваше имя
                        +e.input.input__.check.viewport
                            input(name="email" type="email" id="email" autocomplete="off")
                            +e.LABEL(for="email").label e-mail
                        +e.input.input__.viewport
                            input(name="telegram" id="telegram"  autocomplete="off")
                            +e.LABEL(for="telegram").label telegram ID
                        +e.input.input__.viewport
                            input(name="company" id="company"  autocomplete="off")
                            +e.LABEL(for="company").label компания
                        +e.input.input__.viewport
                            input(name="industry" id="industry"  autocomplete="off")
                            +e.LABEL(for="industry").label индустрия
                        +e.BUTTON(type="button").button.button--blue.viewport Перейти к оплате
                        +e.privacy.viewport Оплата через
                            a(href="www.coinpayments.net" target="_blank")  www.coinpayments.net
                    +e.preloader
                +e.img.viewport
                    include ../img/form.svg
                    img(src="/img/mask1.png")

block footer-scripts
    script(src='/js/particles.js')