extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    .background
    include blocks/particles.pug
    .content
        +b.SECTION.main
            +e.container.container
                +e.text.text--main
                    h3.viewport Интенсив 18 августа 2018
                    h1.viewport Whale tank
                    h2.viewport Bootcamp para criptoproyectos
                    p.viewport Узнай, чем руководствуются инвесторы при выборе проектов! 18 августа — интенсивный тренинг для команд, готовящихся к ICO
        +b.SECTION.objectives
            +e.container.container
                +e.H2.title.title.viewport Цели интенсива
                +e.list
                    +e.item
                        p.viewport Bootcamp — отличная возможность погрузиться в рынок ICO, увидеть изнутри, как это работает.
                        span.viewport 01
                    +e.item
                        p.viewport По результатам конференции будут выбраны и награждены  три лучших проекта.
                        span.viewport 02
                    +e.item
                        p.viewport Все желающие смогут задать свои вопросы спикерам, членам жюри и командам.
                        span.viewport 03
                    +e.item
                        p.viewport Лучшую команду залистят на…
                        span.viewport 04
                    +e.item
                        p.viewport Финалисты получат публикации в прессе и смогут заявить о себе.
                        span.viewport 05
        +b.SECTION.skills
            +e.container.container
                +e.H2.title.title.viewport На интенсиве вы научитесь
                +e.list
                    +e.item.viewport Первым распознавать перспективный проект и инвестировать на ранней стадии
                    +e.item.viewport Оценивать экономическую модель проекта
                    +e.item.viewport Налаживать связи в индустрии
                    +e.item.viewport Оценивать потенциал роста токена
                    +e.item.viewport Оценивать команду
        +b.SECTION.program
            +e.container.container
                +e.H2.title.title.viewport Программа интенсива делится на три части
                +e.list
                    +e.item
                        //include ../img/1.svg
                        img(src="/img/1.svg").viewport
                        h3.viewport Лекционная часть
                        p.viewport Эксперты будут делиться с участниками своими наработками и секретами успешных сборов.
                    +e.item
                        //include ../img/2.svg
                        img(src="/img/2.svg").viewport
                        h3.viewport Работа в группах
                        p.viewport Все участники смогут разделиться на группы «по интересам» и задать свои вопросы экспертам. А также узнать их профессиональное мнение о своих наработках и идеях.
                    +e.item
                        //include ../img/3.svg
                        img(src="/img/3.svg").viewport
                        h3.viewport Питчинг проектов
                        p.viewport По итогам интенсива менторы отберут 10 команд, которые смогут представить свои проекты жюри и инвесторам.
        +b.SECTION.promo
            +e.container.container
                +e.H2.title.title.viewport В мире блокчейна возможно все!
                +e.text
                    p.viewport На питчинг с 19:00 будет свободный вход. Все желающие и интересующиеся могут посмотреть на проекты команд, пообщаться с жюри, с командой U.Community и спикерами. И, возможно, с потенциальными инвесторами или работодателями!
        +b.SECTION.prizes
            +e.container.container
                +e.title.title.viewport Призы
                +e.text
                    p.viewport По итогам питчинга Жюри определит 3х победителей, наградит Airdrop:
                    span.viewport Каждый призер также получит: <br>Публикации в Cryptocomes<br>Листинг на UNI<br>Поддержка во время ICO
                +e.graphics
                    +e.item--pink.viewport-praph
                        p 1 место
                        span 50000 UNI
                    +e.item--blue.viewport-praph
                        p 2 место
                        span 30000 UNI
                    +e.item--darkblue.viewport-praph
                        p 3 место
                        span 15000 UNI
        +b.SECTION.timeline
            +e#timeline-bg.bg
            +e.container.container
                +e.top
                    +e.H2.title.title.viewport Timeline
                    +e.time.viewport 11:30 — 22:30
                +e.table.table__
                    +e.section
                        +e.item
                            +e.text--big
                                p.viewport Интенсив от команды U.Community
                                span.viewport Лекционная часть + 2 часа работы в группах с менторами из команды U.Community
                                ul
                                    li.viewport
                                        a(href="#") Александр Петров
                                        |   , бизнес-ангел — вступительное слово
                                        img(src="/img/3.jpg")
                                    li.viewport
                                        a(href="#") Анзор Дауров
                                        |   , гид и ментор проектов в U.Community — White Paper на 1-2-3. Как создать привлекательную для инвесторов кампанию
                                    li.viewport
                                        a(href="#") Evgeniy Konstantinov
                                        |   , chef knowledge officer U.Community — Как организовать эффективную баунти-кампанию и вовлечь коммьюнити в свой проект, Как организовать правильный саппорт
                                    li.viewport
                                        a(href="#") Sasha Ivanova
                                        |   , Chief Marketing Officer U.Community — Маркетинг, листинги, трафик, пресса
                                    li.viewport
                                        a(href="#") Анти Данилевский
                                        |   — Работа с фондами, лидерами мнений и адвайзерами
                                    li.viewport
                                        a(href="#") Андрей Перепелица
                                        |   , CTO U.Community —  Что нужно учесть в технической подготовке к ICO
                                    li.viewport
                                        a(href="#") Evgeniy Ovsyankin
                                        |   , U.Community — Правовые вопросы ICO
                                    li.viewport
                                        a(href="#") Александр Петров
                                        |   , CFO KICKICO  — Презентация и питчинг
                            +e.time--big.viewport 11:30 — 18:00
                    +e.section
                        +e.item
                            +e.text--big
                                p.viewport Питчинг проектов — вход свободный по предварительной регистрации
                            +e.time--big.viewport 19:00 — 21:30
                        +e.item
                            +e.text--small
                                p.viewport Представление экспертного жюри
                            +e.time--small.viewport 19:00 — 19:30
                        +e.item
                            +e.text--small
                                p.viewport Питчинг команд
                            +e.time--small.viewport 19:30 — 21:20
                        +e.item
                            +e.text--small
                                p.viewport Награждение победителей
                            +e.time--small.viewport 21:20 — 21:30
                    +e.section
                        +e.item
                            +e.text--big
                                p.viewport Нетворкинг
                            +e.time--big.viewport 21:30 — 22:30
        +b.SECTION.experts
            +e.container.container
                +e.title.title--big.viewport Экспертное жюри
                +e.list
                    +e.item.viewport
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Александр Петров
                        +e.organization KICKICO
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Анти Данилевский
                        +e.organization.viewport KICKICO
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Анатолий Поединцев
                        +e.organization.viewport ICORating
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Рустем Давлетбаев
                        +e.organization.viewport Иннополис
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Николай Ермаков
                        +e.organization.viewport Nakamoto Capital
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Шухрат Джураев
                        +e.organization.viewport Cryptania
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Анастасия Тюрина
                        +e.organization.viewport ВЭБ
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Алексей Воронин
                        +e.organization.viewport Icolab
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Анатолий Радченко
                        +e.organization.viewport United Traders
                    +e.item
                        +e.photo.viewport
                            img(src="/img/2.jpg")
                        +e.A(href="#").name.viewport Иван Петуховский
                        +e.organization.viewport EXMO
        +b.SECTION.partners
            +e.container.container
                +e.title.title--big.viewport Партнеры
                +e.list.viewport-list
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
        +b.media
            +e.container.container
                +e.H2.title.title--big.viewport Публикации в СМИ
                +e.list
                    +e.A(href="#").item.viewport
                        span Llega a Córdoba una de las mayores plataformas de “blockchain”
                    +e.A(href="#").item.viewport
                        span LatiNem hablando sobre el Congreso Blockchain 2018
                    +e.A(href="#").item.viewport
                        span Córdoba, subsede del Congreso 2018 de Blockchain: “El futuro del bitcoin”
                    +e.A(href="#").item.viewport
                        span Qué es blockchain (y por qué todos los empresarios en Córdoba tienen que saberlo)
                    +e.A(href="#").item.viewport
                        span Blockchain tuvo su paso por la ciudad de Córdoba
                +e.A(href="#").download.viewport
                    span Больше публикаций
        +b.registration
            +e.container.container
                +e.H2.title.title--big.viewport Регистрация
                +e.text
                    p.viewport 499$ с команды
                    p.small.viewport 999$
                    span.viewport Минимум — 2 человека
                    span.viewport Максимум — 6 человек
                +e.FORM.form.form__
                    +e.body
                        +e.input--big.input__.check.error.viewport
                            input(name="name" autocomplete="off" id="name")
                            +e.LABEL(for="name").label Ваше имя
                        +e.input.input__.check.viewport
                            input(name="email" type="email" id="email" autocomplete="off")
                            +e.LABEL(for="email").label e-mail
                        +e.input.input__.viewport
                            input(name="telegram" id="telegram"  autocomplete="off")
                            +e.LABEL(for="telegram").label telegram ID
                        +e.input.input__.viewport
                            input(name="company" id="company"  autocomplete="off")
                            +e.LABEL(for="company").label компания
                        +e.input.input__.viewport
                            input(name="industry" id="industry"  autocomplete="off")
                            +e.LABEL(for="industry").label индустрия
                        +e.BUTTON(type="button").button.button--blue.viewport Перейти к оплате
                        +e.privacy.viewport Оплата через
                            a(href="www.coinpayments.net" target="_blank")  www.coinpayments.net
                    +e.preloader
                +e.img
                    img

block footer-scripts
    script(src='/js/particles.js')