extends blocks/layout.pug

block head
block header
	include blocks/header.pug	
block content
	include blocks/main.pug
	include blocks/posts.pug
	include blocks/subscribe.pug
	include blocks/popular.pug
block footer-scripts