extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    include blocks/particles.pug
    .content
        include blocks/main.pug
block footer-scripts
    script(src='/js/particles.js')