extends blocks/layout.pug

block head
block header
block content
    include blocks/main.pug
block footer-scripts
    script(src='http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
    script(src="http://threejs.org/examples/js/libs/stats.min.js")