extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    include blocks/index/main.pug
    include blocks/index/photos.pug
    include blocks/index/themes.pug
    include blocks/index/speakers.pug
    include blocks/index/program.pug
    include blocks/index/media.pug
block footer-scripts