extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    .background
    include blocks/particles.pug
    .content
        +b.SECTION.main
            +e.container.container
                +e.text.text--main
                    h3 Интенсив 18 августа 2018
                    h1 Whale tank
                    h2 Bootcamp para criptoproyectos
                    p Узнай, чем руководствуются инвесторы при выборе проектов! 18 августа — интенсивный тренинг для команд, готовящихся к ICO
        +b.SECTION.objectives
            +e.container.container
                +e.H2.title.title Цели интенсива
                +e.list
                    +e.item
                        p Bootcamp — отличная возможность погрузиться в рынок ICO, увидеть изнутри, как это работает.
                        span 01
                    +e.item
                        p По результатам конференции будут выбраны и награждены  три лучших проекта.
                        span 02
                    +e.item
                        p Все желающие смогут задать свои вопросы спикерам, членам жюри и командам.
                        span 03
                    +e.item
                        p Лучшую команду залистят на…
                        span 04
                    +e.item
                        p Финалисты получат публикации в прессе и смогут заявить о себе.
                        span 05
        +b.SECTION.skills
            +e.container.container
                +e.H2.title.title На интенсиве вы научитесь
                +e.list
                    +e.item Первым распознавать перспективный проект и инвестировать на ранней стадии
                    +e.item Оценивать экономическую модель проекта
                    +e.item Налаживать связи в индустрии
                    +e.item Оценивать потенциал роста токена
                    +e.item Оценивать команду
        +b.SECTION.program
            +e.container.container
                +e.H2.title.title Программа интенсива делится на три части
                +e.list
                    +e.item
                        //include ../img/1.svg
                        img(src="/img/1.svg")
                        h3 Лекционная часть
                        p Эксперты будут делиться с участниками своими наработками и секретами успешных сборов.
                    +e.item
                        //include ../img/2.svg
                        img(src="/img/2.svg")
                        h3 Работа в группах
                        p Все участники смогут разделиться на группы «по интересам» и задать свои вопросы экспертам. А также узнать их профессиональное мнение о своих наработках и идеях.
                    +e.item
                        //include ../img/3.svg
                        img(src="/img/3.svg")
                        h3 Питчинг проектов
                        p По итогам интенсива менторы отберут 10 команд, которые смогут представить свои проекты жюри и инвесторам.
        +b.SECTION.promo
            +e.container.container
                +e.H2.title.title В мире блокчейна возможно все!
                +e.text
                    p На питчинг с 19:00 будет свободный вход. Все желающие и интересующиеся могут посмотреть на проекты команд, пообщаться с жюри, с командой U.Community и спикерами. И, возможно, с потенциальными инвесторами или работодателями!
        +b.SECTION.prizes
            +e.container.container
                +e.title.title Призы
                +e.text
                    p По итогам питчинга Жюри определит 3х победителей, наградит Airdrop:
                    span Каждый призер также получит: <br>Публикации в Cryptocomes<br>Листинг на UNI<br>Поддержка во время ICO
                +e.graphics
                    +e.item--pink
                        p 1 место
                        span 50000 UNI
                    +e.item--blue
                        p 2 место
                        span 30000 UNI
                    +e.item--darkblue
                        p 3 место
                        span 15000 UNI
        +b.SECTION.timeline
            +e#timeline-bg.bg
            +e.container.container
                +e.top
                    +e.H2.title.title Timeline
                    +e.time 11:30 — 22:30
                +e.table.table__
                    +e.section
                        +e.item
                            +e.text--big
                                p Интенсив от команды U.Community
                                span Лекционная часть + 2 часа работы в группах с менторами из команды U.Community
                                ul
                                    li
                                        a(href="#") Александр Петров
                                        |   , бизнес-ангел — вступительное слово
                                        img(src="/img/3.jpg")
                                    li
                                        a(href="#") Анзор Дауров
                                        |   , гид и ментор проектов в U.Community — White Paper на 1-2-3. Как создать привлекательную для инвесторов кампанию
                                    li
                                        a(href="#") Evgeniy Konstantinov
                                        |   , chef knowledge officer U.Community — Как организовать эффективную баунти-кампанию и вовлечь коммьюнити в свой проект, Как организовать правильный саппорт
                                    li
                                        a(href="#") Sasha Ivanova
                                        |   , Chief Marketing Officer U.Community — Маркетинг, листинги, трафик, пресса
                                    li
                                        a(href="#") Анти Данилевский
                                        |   — Работа с фондами, лидерами мнений и адвайзерами
                                    li
                                        a(href="#") Андрей Перепелица
                                        |   , CTO U.Community —  Что нужно учесть в технической подготовке к ICO
                                    li
                                        a(href="#") Evgeniy Ovsyankin
                                        |   , U.Community — Правовые вопросы ICO
                                    li
                                        a(href="#") Александр Петров
                                        |   , CFO KICKICO  — Презентация и питчинг
                            +e.time--big 11:30 — 18:00
                    +e.section
                        +e.item
                            +e.text--big
                                p Питчинг проектов — вход свободный по предварительной регистрации
                            +e.time--big 19:00 — 21:30
                        +e.item
                            +e.text--small
                                p Представление экспертного жюри
                            +e.time--small 19:00 — 19:30
                        +e.item
                            +e.text--small
                                p Питчинг команд
                            +e.time--small 19:30 — 21:20
                        +e.item
                            +e.text--small
                                p Награждение победителей
                            +e.time--small 21:20 — 21:30
                    +e.section
                        +e.item
                            +e.text--big
                                p Нетворкинг
                            +e.time--big 21:30 — 22:30
        +b.SECTION.experts
            +e.container.container
                +e.title.title--big Экспертное жюри
                +e.list
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Александр Петров
                        +e.organization KICKICO
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Анти Данилевский
                        +e.organization KICKICO
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Анатолий Поединцев
                        +e.organization ICORating
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Рустем Давлетбаев
                        +e.organization Иннополис
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Николай Ермаков
                        +e.organization Nakamoto Capital
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Шухрат Джураев
                        +e.organization Cryptania
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Анастасия Тюрина
                        +e.organization ВЭБ
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Алексей Воронин
                        +e.organization Icolab
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Анатолий Радченко
                        +e.organization United Traders
                    +e.item
                        +e.photo
                            img(src="/img/2.jpg")
                        +e.A(href="#").name Иван Петуховский
                        +e.organization EXMO
        +b.SECTION.partners
            +e.container.container
                +e.title.title--big Партнеры
                +e.list
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
                    +e.A(href="#").item
                        img(src='/img/3.png')
        +b.media
            +e.container.container
                +e.H2.title.title--big Публикации в СМИ
                +e.list
                    +e.A(href="#").item
                        span Llega a Córdoba una de las mayores plataformas de “blockchain”
                    +e.A(href="#").item
                        span LatiNem hablando sobre el Congreso Blockchain 2018
                    +e.A(href="#").item
                        span Córdoba, subsede del Congreso 2018 de Blockchain: “El futuro del bitcoin”
                    +e.A(href="#").item
                        span Qué es blockchain (y por qué todos los empresarios en Córdoba tienen que saberlo)
                    +e.A(href="#").item
                        span Blockchain tuvo su paso por la ciudad de Córdoba
                +e.A(href="#").download
                    span Больше публикаций
        +b.registration
            +e.container.container
                +e.H2.title.title--big Регистрация
                +e.text
                    p 499$ с команды
                    p.small 999$
                    span Минимум — 2 человека
                    span Максимум — 6 человек
                +e.FORM.form.form__
                    +e.body
                        +e.input--big.input__.check.error
                            input(name="name" autocomplete="off" id="name")
                            +e.LABEL(for="name").label Ваше имя
                        +e.input.input__.check
                            input(name="email" type="email" id="email" autocomplete="off")
                            +e.LABEL(for="email").label e-mail
                        +e.input.input__
                            input(name="telegram" id="telegram"  autocomplete="off")
                            +e.LABEL(for="telegram").label telegram ID
                        +e.input.input__
                            input(name="company" id="company"  autocomplete="off")
                            +e.LABEL(for="company").label компания
                        +e.input.input__
                            input(name="industry" id="industry"  autocomplete="off")
                            +e.LABEL(for="industry").label индустрия
                        +e.BUTTON(type="button").button.button--blue Перейти к оплате
                        +e.privacy Оплата через
                            a(href="www.coinpayments.net" target="_blank")  www.coinpayments.net
                    +e.preloader
                +e.img
                    img

block footer-scripts
    script(src='/js/particles.js')