extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    .background
    include blocks/particles.pug
    .content
        +b.SECTION.main
            +e.container.container
                +e.top.viewport
                    +e.flags
                        img(src="/img/new/head/flags/flag1.svg" alt="flag-1").viewport
                        img(src="/img/new/head/flags/flag2.svg" alt="flag-2").viewport
                        img(src="/img/new/head/flags/flag3.svg" alt="flag-3").viewport
                    +e.date
                        p.viewport AR — UY — COL 
                        p.viewport Octubre — Noviembre 2018        
                +e.text.text--main
                    h1.viewport Blockchain 
                        span Accelerator
                    //h2.viewport Bootcamp para criptoproyectos
                    p.viewport Serie de eventos para transformar desarrolladores en avanzados arquitectos Blockchain.
                    p.viewport Octubre y Noviembre — entrenamiento intensivo para los que están cambiando la historia de la humanidad con Blockchain.
        +b#objectives.SECTION.objectives
            +e.container.container
                +e.H2.title.title.viewport Objetivos:
                +e.list
                    +e.item.viewport
                        p.viewport Blockchain Bootcamp es una excelente oportunidad para nadar profundo en la industria Blockchain
                        span.viewport 01
                    +e.item.viewport
                        p.viewport Ver de adentro cómo funciona la cadena de bloques
                        span.viewport 02
                    +e.item.viewport
                        p.viewport Participar en sesión de código
                        span.viewport 03
                    +e.item.viewport
                        p.viewport Hacer preguntas a uno de los mejores desarrolladores blockchain del mundo
                        span.viewport 04
                    +e.item.viewport
                        p.viewport Conocer a los referentes de ecosistema blockchain de América Latina
                        span.viewport 05
                    +e.item.viewport
                        p.viewport Conocer a los potenciales inversores y empleadores
                        span.viewport 06            
        +b.SECTION.skills
            +e.container.container
                +e.H2.title.title--white.viewport En transcurso del Bootcamp van a aprender
                +e.body
                    +e.list
                        +e.list-title.viewport Básico
                        +e.item.viewport Que es Blockchain
                        +e.item.viewport Protocolos de consenso
                        +e.item.viewport Transacciones en Blockchain
                    +e.list
                        +e.list-title.viewport Avanzado
                        +e.item.viewport NEM Tech
                        +e.item.viewport NEM Catapult
        +b#program.SECTION.program
            +e.container.container
                +e.H2.title.title.viewport El Blockchain Bootcamp consta de tres partes
                +e.list
                    +e.item.viewport
                        include ../img/lec.svg
                        //img(src="/img/1.svg").viewport
                        h3 Congreso (Serie de meetups y charlas)
                        p Los referentes de la industria Blockchain en América Latina van a compartir sus experiencias, secretos y growth hacks.
                    +e.item.viewport
                        include ../img/pitch.svg
                        //img(src="/img/3.svg").viewport
                        h3 Capacitación
                        p A cargo de Shin Tatt Wong, Arquitecto de soluciones & Entrenador Técnico de NEM Malasia.
                    +e.item.viewport
                        include ../img/gro.svg
                        //img(src="/img/2.svg").viewport
                        h3.viewport Hackathon
                        p.viewport La capacitación va a culminar con el Hackathon NEM, donde diferentes entidades - gobiernos, empresas y universidades - van a presentar sus desafíos. Ganará el equipo que presente la mejor solución de un caso de uso real.
                        p.viewport El equipo Ganador se lleva el PREMIO
                +e.couch
                    +e.img.viewport
                        img(src="/img/tatt.png")
                    +e.text
                        h3.viewport Shin Tatt
                        p.viewport Entrenó desarrolladores en todo el mundo incluyendo  Australia, China, Dubai, Malasia, Nueva Zelanda, Filipinas, Singapur, Corea del Sur y Vietnam.
                        p.viewport Shin Tatt ha guiado proyectos de diferentes industrias para entender y implementar NEM.
                        span.viewport Temario de capacitación
        +b#promo.SECTION.promo.viewport
            +e.container.container
                +e.H2.title.title.viewport ¡En el mundo de Blockchain todo es posible!
                +e.text
                    p.viewport Para la presentación Final de los proyectos la entrada es libre y abierta. Todo el mundo puede ver las propuestas finales de los equipos, ver cómo el juzgado toma su decisión final , hablar a los equipos, el juzgado y con los potenciales inversores o empleadores! 
                +e.logo.viewport
                    img(src="/img/new/mundo/1.png")
        +b#prizes.SECTION.prizes
            +e.container.container
                +e.title.title.viewport Para ganadores – premios
                +e.body
                    +e.text
                        ul
                            li.viewport Según la presentación final el juzgado indica 1 ganador.
                            li.viewport Los observadores votan en blockchain. 
                            li.viewport Mas el premio de uno de los sponsor.
                    +e.bottom
                        h3.viewport Todos participantes también obtendrán
                        ul
                            li.viewport Listado en exchange descentralizado NEM
                            li.viewport Publicacion en IPRO.up
                            li.viewport Contrato de implementación
                +e.graphics
                    +e.item--pink.viewport-praph
                        p 1 puesto
                        span 1000 USD en XEM
                    +e.item--blue.viewport-praph
                        p 2 puesto
                        span Especial de la empresa
                    +e.item--darkblue.viewport-praph
                        p 3 puesto
                        span Municipalidad
        +b#timeline.SECTION.timeline
            +e.container.container
                +e.H2.title.title.--white Cronograma
                +e.country--uruguay
                    +e.text--country.text--country
                        h4 Uruguay
                        p From 23-10 to 28-10 Uruguay. Central government level training
                    +e.logos--country
                        img(src="/img/new/cronograma/uruguay/1.png" alt="uruguay-logo").logo-1
                        img(src="/img/new/cronograma/uruguay/blockbear.png" alt="blockbear-logo").logo-2
                    +e.table--country.table__
                        +e.line--country
                            +e.date--country 22 — 23.10
                            +e.place--country Departamento de Desarrollo Digital AGESIC
                            +e.time--country 09:00 — 14:00
                        +e.line--country
                            +e.date--country 23 — 25.10
                            +e.place--country Universidad ORT
                            +e.time--country 18:00 — 21:00
                +e.argentina
                    h4 Argentina
                    +e.layout
                        +e.text--layout.text--layout
                            p 22.10 – 27.10
                            p.bold #CBU Congreso Universitario Blockchain
                            span Serie de charlas abiertas en las claves universidades de Córdoba
                        +e.logos--layout
                            +e.logo--layout.--abs-1
                                +e.ball--red
                                img(src="/img/new/cronograma/argentina/1.jpg" alt="argentina-logo-1").logo-3
                            +e.logo--layout.--abs-2
                                +e.ball
                                img(src="/img/new/cronograma/argentina/7.png" alt="argentina-logo-2").logo-4
                            +e.logo--layout.--abs-3
                                +e.ball--yellow
                                img(src="/img/new/cronograma/argentina/2.png" alt="argentina-logo-3").logo-5
                            +e.logo--layout.--abs-4
                                +e.ball
                                img(src="/img/new/cronograma/argentina/6.png" alt="argentina-logo-4").logo-6
                            +e.logo--layout.--abs-5
                                +e.ball
                                img(src="/img/new/cronograma/argentina/3.jpg" alt="argentina-logo-5").logo-7
                            +e.logo--layout.--abs-6
                                +e.ball
                                img(src="/img/new/cronograma/argentina/4.jpg" alt="argentina-logo-6").logo-8
                            +e.logo--layout.--abs-7
                                +e.ball
                                img(src="/img/new/cronograma/argentina/5.jpg" alt="argentina-logo-7").logo-9
                +e.body--big.table__
                    +e.line--big
                        +e.top
                            +e.date--big 22.10
                            +e.place--big Universidad Catolica de Cordoba
                            +e.time--big 14:00
                        +e.speakers
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/guidorubioamestoy.png")
                                +e.text--speaker.text--speaker
                                    p.green Guido Rubio Amestoy
                                    p Introducción a Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/danieltolosa.png")
                                +e.text--speaker.text--speaker
                                    p.green Daniel Tolosa
                                    p Docta: Caso de uso
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/sashaivanova.png")
                                +e.text--speaker.text--speaker
                                    p.green Sasha Ivanova
                                    p Blockchain Avanzado
                            +e.speaker
                                +e.photo
                                    img(src="/img/round.png")
                                +e.text--speaker.text--speaker
                                    p.green Secreto
                                    p Secreto
                    +e.line--big
                        +e.top
                            +e.date--big 23.10
                            +e.place--big Universidad Siglo 21
                            +e.time--big 19:00
                        +e.speakers
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/ramiropodetti.png")
                                +e.text--speaker.text--speaker
                                    p.green Ramiro Podetti
                                    p Iot y Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/germanguismondi.png")
                                +e.text--speaker.text--speaker
                                    p.green German Guismondi
                                    p Casos de uso de Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/ezequielloza.png")
                                +e.text--speaker.text--speaker
                                    p.green Exequiel Loza
                                    p Aspectos técnicos de Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/round.png")
                                +e.text--speaker.text--speaker
                                    p.green Secreto
                                    p Secreto
                    +e.line--big
                        +e.top
                            +e.date--big 24.10
                            +e.place--big Instituto Tecnico La Villada 
                            +e.time--big 19:00
                        +e.speakers
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/agustinvelez.png")
                                +e.text--speaker.text--speaker
                                    p.green Agustin Velez
                                    p Introducción a Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/sashaivanova.png")
                                +e.text--speaker.text--speaker
                                    p.green Sasha Ivanova
                                    p Casos de uso
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/danieltolosa.png")
                                +e.text--speaker.text--speaker
                                    p.green Daniel Tolosa
                                    p Filosofia Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/round.png")
                                +e.text--speaker.text--speaker
                                    p.green Secreto
                                    p Secreto
                    +e.line--big
                        +e.top
                            +e.date--big 25.10
                            +e.place--big Colegio Universitario Siglo 21
                            +e.time--big 19:00
                        +e.speakers
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/germanguismondi.png")
                                +e.text--speaker.text--speaker
                                    p.green Germán Guismondi
                                    p Introducción a Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/sashaivanova.png")
                                +e.text--speaker.text--speaker
                                    p.green Sasha Ivanova
                                    p NEM Blockchain en Argentina
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/carlameyer.png")
                                +e.text--speaker.text--speaker
                                    p.green Carla Meyer
                                    p Aspectos legales de Blockchain
                            +e.speaker
                                +e.photo
                                    img(src="/img/round.png")
                                +e.text--speaker.text--speaker
                                    p.green Secreto
                                    p Secreto
                    +e.line--big
                        +e.top
                            +e.date--big 26.10
                            +e.description--big 
                                p Universidad Blas Pascal
                                p Participación en  
                                    a(href="#")  Olimpiada Nacional ONIET+
                        +e.speakers
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/sashaivanova.png")
                                +e.text--speaker.text--speaker
                                    p.green Sasha Ivanova
                                    p NEM Blockchain en Argentina
                            +e.speaker
                                +e.photo
                                    img(src="/img/new/speakers/danieltolosa.png")
                                +e.text--speaker.text--speaker
                                    p.green Daniel Tolosa
                                    p 
                                        a(href="http://docta.io" target="_blank") Docta.io: 
                                        | cripto de uso académico
                            +e.speaker
                                +e.photo
                                    img(src="/img/round.png")
                                +e.text--speaker.text--speaker
                                    p.green Secreto
                                    p Secreto
                +e.capacitacion
                    +e.text--capacitacion.text--capacitacion
                        p 29.10 – 02.11
                        p.bold Capacitación con Shin Tatt
                        ul
                            li Universidad Blas Pascal
                            li Universidad Empresarial Siglo 21
                            li Espacio iúnigo
                    +e.content--capacitacion
                        img(src="/img/tatt-1.png")
                        +e.logo--capacitacion.--abs-8
                            +e.ball--red
                            img(src="/img/new/cronograma/argentina/1.jpg" alt="argentina-logo-1").logo-3
                        +e.logo--capacitacion.--abs-9
                            +e.ball
                            img(src="/img/new/cronograma/argentina/5.jpg" alt="argentina-logo-7").logo-9
                +e.country--colombia
                    +e.text--country.text--country
                        h4 Colombia
                        p From 3-11 to 8-11.  Bogotá-Medellín, Colombia , Training for developers.
                    +e.logos--country
                        img(src="/img/new/cronograma/colombia/1.png" alt="colombia-logo").logo-10
                        img(src="/img/new/cronograma/colombia/2.png" alt="colombia-logo").logo-11
                        img(src="/img/new/cronograma/colombia/3.png" alt="colombia-logo").logo-12
                    +e.table--country.table__
                        +e.line--country
                            +e.date--country 03.11
                            +e.place--country Hotel Selina, Medellín
                            +e.time--country 08:00 – 14:00
                        +e.line--country
                            +e.date--country 05.11
                            +e.place--country Blockchain Centre Medellín
                            +e.time--country 08:00 – 14:00
                        +e.line--country
                            +e.date--country 07.11
                            +e.place--country Cámara de Comercio de Bogotá
                            +e.time--country 08:00 – 14:00
        +b#experts.SECTION.experts
            +e.container.container
                +e.H2.title.title--big.viewport Jurado de honor
                +e.list
                    +e.item.viewport
                        +e.photo
                            img(src="/img/new/jurados/1.png" alt="jurados")
                        +e.A(href="#").name Shin Tatt
                        +e.organization Fundación NEM
                    +e.item.viewport
                        +e.photo
                            img(src="/img/new/jurados/2.png" alt="jurados")
                        +e.A(href="#").name Marcelo Cossar
                        +e.organization Municipalidad de Córdoba
                    +e.item.viewport
                        +e.photo
                            img(src="/img/new/jurados/3.png" alt="jurados")
                        +e.A(href="#").name Oscar Gencarelli
                        +e.organization Universidad Blas Pascal
                    +e.item.viewport
                        +e.photo
                            img(src="/img/new/jurados/4.png" alt="jurados")
                        +e.A(href="#").name John Doe
                        +e.organization TBA
                    +e.item.viewport
                        +e.photo
                            img(src="/img/new/jurados/4.png" alt="jurados")
                        +e.A(href="#").name John Doe
                        +e.organization TBA
                    +e.item.viewport
                        +e.photo
                            img(src="/img/new/jurados/4.png" alt="jurados")
                        +e.A(href="#").name John Doe
                        +e.organization TBA
                    
        +b#partners.SECTION.partners
            +e.container.container
                +e.title.title--big.viewport Aliados
                +e.list.viewport-list
                    +e.A(href="#").item--1
                        img(src='/img/new/aliados/1.png' alt="partner")
                    +e.A(href="#").item--2
                        img(src='/img/new/aliados/2.png' alt="partner")
                    +e.A(href="#").item--3
                        img(src='/img/new/aliados/3.png' alt="partner")
                    +e.A(href="#").item--4
                        img(src='/img/new/aliados/4.png' alt="partner")
                    +e.A(href="#").item--5
                        img(src='/img/new/aliados/5.png' alt="partner")
                    +e.A(href="#").item--6
                        img(src='/img/new/aliados/6.png' alt="partner")
                    +e.A(href="#").item--7
                        img(src='/img/new/aliados/7.png' alt="partner")
                    +e.A(href="#").item--8
                        img(src='/img/new/aliados/8.png' alt="partner")
                    +e.A(href="#").item--9
                        img(src='/img/new/aliados/9.png' alt="partner")
                    +e.A(href="#").item--10
                        img(src='/img/new/aliados/10.png' alt="partner")
                    +e.A(href="#").item--11
                        img(src='/img/new/aliados/11.png' alt="partner")
                    +e.A(href="#").item--12
                        img(src='/img/new/aliados/12.png' alt="partner")
                    +e.A(href="#").item--13
                        img(src='/img/new/aliados/13.png' alt="partner")
                    +e.A(href="#").item--14
                        img(src='/img/new/aliados/14.png' alt="partner")
                    +e.A(href="#").item--15
                        img(src='/img/new/aliados/15.png' alt="partner")
        +b#media.media
            +e.container.container
                +e.H2.title.title--big.viewport Socios Informativos
                +e.list
                    +e.A(href="https://www.criptomonedaseico.com/noticias/docta-como-lanzamos-nuestro-proyecto-blockchain-sin-ico" target="_blank").item.viewport
                        span ¿Como lanzamos nuestro proyecto Blockchain sin ICO?
                        p Criptomonedas e ICO 
                    +e.A(href="http://www.clavesdigital.com.ar/noticiasinterior.php?id=3579" target="_blank").item.viewport
                        span Lanzan Docta, la primera criptomoneda cordobesa con foco en la educación
                        p Claves Digital
                    +e.A(href="https://criptotendencia.com/2018/09/25/docta-como-lanzamos-nuestro-proyecto-blockchain-sin-ico" target="_blank").item.viewport
                        span Docta: ¿Como lanzamos nuestro proyecto Blockchain sin ICO?
                        p Criptotendencia 
                    +e.A(href="http://puntoapunto.com.ar/lanzan-docta-la-primera-criptomoneda-cordobesa-con-foco-en-la-educacion" target="_blank").item.viewport
                        span Lanzan Docta, la primera criptomoneda cordobesa con foco en la educación
                        p Punto a Punto
        +b.registration
            +e.container.container
                +e.H2.title.title--big.viewport Participar
                +e.toggles
                    +e.toggle.viewport Congreso
                    +e.toggle.viewport Capacitación
                    +e.toggle.viewport.active Hackathon
                +e.tabs
                    +e.tab
                        +e.text
                            p.strong Entrada libre con registración previa, cupo limitado
                        +e.A(href="#").button.button--blue.viewport Registrarme
                    +e.tab
                        +e.text
                            p.strong Preselección (entrevista con Pablo Romero ISARQ)
                        +e.A(href="#").button.button--blue.viewport Anotarse para preselección
                    +e.tab--main.active
                        +e.text
                            p.viewport Mínimo 2 personas
                            p.viewport Máximo 6 personas por equipo
                        +e.FORM.form.form__
                            +e.body
                                +e.input--big.input__.check.error.viewport
                                    input(name="name" autocomplete="off" id="name")
                                    +e.LABEL(for="name").label Nombre
                                +e.input.input__.check.viewport
                                    input(name="email" type="email" id="email" autocomplete="off")
                                    +e.LABEL(for="email").label E–Correo
                                +e.input.input__.viewport
                                    input(name="telegram" id="telegram"  autocomplete="off")
                                    +e.LABEL(for="telegram").label Telegram id
                                +e.input.input__.viewport
                                    input(name="company" id="company"  autocomplete="off")
                                    +e.LABEL(for="company").label Empresa
                                +e.input.input__.viewport
                                    input(name="industry" id="industry"  autocomplete="off")
                                    +e.LABEL(for="industry").label Industria
                                +e.BUTTON(type="button").button.button--blue.viewport Registrarme
                            +e.preloader
                +e.img.viewport
                    include ../img/form.svg
                    img(src="/img/mask1.png")

block footer-scripts
    script(src='/js/particles.js')