+b.main
    +e.bg
    +e.container.container
        +e.text.text--main
            h1 Первый международный блокчейн конгресс в Кордове, Аргентина
            p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует
        +e.BUTTON(type="button").button.button--blue Купить онлайн-трансляцию