+b.medias
    +e.container.container
        +e.H2.title.title Медия партнёры
        +e.body
            +e.item.media__
                +e.logo--ntn
                    img(src="/img/media/ntn24-logo.png")
                +e.A(href="http://www.ntn24.com/america-latina/la-tarde/colombia/se-realizo-el-primer-congreso-de-blockchain-en-colombia-86482" target="_blank").link
                    p Se realizó el primer congreso de Blockchain en Colombia
            +e.item.media__
                +e.logo--cripto
                    img(src="/img/partners/cripto-tendencia.png")
                +e.A(href="https://criptotendencia.com/2018/04/08/blockchain-tuvo-su-paso-por-la-ciudad-de-cordoba" target="_blank").link
                    p Blockchain tuvo su paso por la ciudad de Córdoba
            +e.item.media__
                +e.logo--municipali
                    img(src="/img/partners/minicipali.png")
                +e.A(href="https://www.cordoba.gob.ar/2018/03/27/cordoba-primera-ciudad-sede-del-congreso-blockchain-2018" target="_blank").link
                    p Córdoba, sede del Congreso Blockchain 2018
            +e.item.media__
                +e.logo--comercio
                    img(src="/img/media/comercio.jpg")
                +e.A(href="https://comercioyjusticia.info/blog/negocios/pesos-pesados-mundiales-en-el-congreso-blockchain-argentina-2018" target="_blank").link
                    p “Pesos pesados” mundiales en el Congreso Blockchain Argentina 2018
            +e.item.media__
                +e.logo--noticias
                    img(src="/img/partners/CriptoNoticias.png")
                +e.A(href="https://www.criptonoticias.com/eventos/congreso-blockchain-2018-crear-startup-cripto-exitosa" target="_blank").link
                    p CONGRESO BLOCKCHAIN 2018: cómo crear una startup cripto exitosa
            +e.item.media__
                +e.logo--viglance
                    img(src="/img/media/viglance.png")
                +e.A(href="http://www.bitcoinvigilance.com/bitcoin/congreso-blockchain-argentina-colombia-rusia-el-futuro-de-bitcoin-invitados-de-kickico" target="_blank").link
                    p Congreso BLOCKCHAIN Argentina-Colombia-Rusia, el Futuro de BITCOIN. Invitados de KICKICO
            +e.item.media__
                +e.logo--economix
                    img(src="/img/media/economix.png")
                +e.A(href="http://www.economixtv.com/gacetilla/congreso-de-blockchain-en-la-ubp" target="_blank").link
                    p Congreso de Blockchain en la UBP
            +e.item.media__
                +e.logo--innovar
                    img(src="/img/media/innovar.png")
                +e.A(href="http://innovaryemprendercba.com.ar/de-que-se-hablara-en-el-congreso-internacional-de-blockchain-que-pasa-por-cordoba-token-criptomonedas-y-mas" target="_blank").link
                    p De qué se hablará en el Congreso Internacional de Blockchain que pasa por Córdoba (token, criptomonedas y más)
            +e.item.media__
                +e.logo--diario
                    img(src="/img/partners/diario.png")
                +e.A(href="https://www.diariobitcoin.com/index.php/2018/04/13/experto-ruso-vladimir-popov-analiza-que-pasara-con-las-criptomonedas-mas-reputadas" target="_blank").link
                    p Experto ruso Vladimir Popov analizó qué pasará con las criptomonedas más reputadas
            +e.item.media__
                +e.logo--lavoz
                    img(src="/img/media/lavoz.png")
                +e.A(href="http://www.lavoz.com.ar/negocios/blockchain-una-revolucion-en-las-relaciones-economicas" target="_blank").link
                    p Blockchain, una revolución en las relaciones económicas
            +e.item.media__
                +e.logo--info
                    img(src="/img/media/info.jpg")
                +e.A(href="https://infonegocios.info/enfoque/de-que-se-hablara-en-el-congreso-internacional-de-blockchain-que-pasa-por-cordoba-token-criptomonedas-y-mas" target="_blank").link
                    p De qué se hablará en el Congreso Internacional de Blockchain que pasa por Córdoba (token, criptomonedas y más)