+b.medias
    +e.container.container
        +e.H2.title.title Медия партнёры
        +e.body
            +e.item.media__
                +e.logo--ntn
                    img(src="/img/media/ntn24-logo.png")
                +e.A(href="#").link
                    p Se realizó el primer congreso de Blockchain en Colombia
            +e.item.media__
                +e.logo--cripto
                    img(src="/img/partners/cripto-tendencia.png")
                +e.A(href="#").link
                    p Blockchain tuvo su paso por la ciudad de Córdoba
            +e.item.media__
                +e.logo--municipali
                    img(src="/img/partners/minicipali.png")
                +e.A(href="#").link
                    p Córdoba, sede del Congreso Blockchain 2018
            +e.item.media__
                +e.logo--comercio
                    img(src="/img/media/comercio.jpg")
                +e.A(href="#").link
                    p “Pesos pesados” mundiales en el Congreso Blockchain Argentina 2018
            +e.item.media__
                +e.logo--noticias
                    img(src="/img/partners/CriptoNoticias.png")
                +e.A(href="#").link
                    p CONGRESO BLOCKCHAIN 2018: cómo crear una startup cripto exitosa
            +e.item.media__
                +e.logo--viglance
                    img(src="/img/media/viglance.png")
                +e.A(href="#").link
                    p Congreso BLOCKCHAIN Argentina-Colombia-Rusia, el Futuro de BITCOIN. Invitados de KICKICO
            +e.item.media__
                +e.logo--economix
                    img(src="/img/media/economix.png")
                +e.A(href="#").link
                    p Congreso de Blockchain en la UBP
            +e.item.media__
                +e.logo--innovar
                    img(src="/img/media/innovar.png")
                +e.A(href="#").link
                    p De qué se hablará en el Congreso Internacional de Blockchain que pasa por Córdoba (token, criptomonedas y más)
            +e.item.media__
                +e.logo--diario
                    img(src="/img/partners/diario.png")
                +e.A(href="#").link
                    p Experto ruso Vladimir Popov analizó qué pasará con las criptomonedas más reputadas
            +e.item.media__
                +e.logo--lavoz
                    img(src="/img/media/lavoz.png")
                +e.A(href="#").link
                    p Blockchain, una revolución en las relaciones económicas
            +e.item.media__
                +e.logo--info
                    img(src="/img/media/info.jpg")
                +e.A(href="#").link
                    p De qué se hablará en el Congreso Internacional de Blockchain que pasa por Córdoba (token, criptomonedas y más)