+b#partners.partners
    +e.container.container
        +e.H2.title.title Партнёры
        +e.body
            +e.A(href="#").item--legis.--big
                img(src="/img/partners/legis.png")
            +e.A(href="#").item--univers.--big
                img(src="/img/partners/Nacinal.png")
            +e.A(href="#").item--pascal.--big
                img(src="/img/partners/Un.png")
            +e.A(href="#").item--gobierno.--big
                img(src="/img/partners/gobierno.png")
            +e.A(href="#").item--municip.--med
                img(src="/img/partners/minicipali.png")
            +e.A(href="#").item--nem.--small
                img(src="/img/partners/nem.png")
            +e.A(href="#").item--diario.--small
                img(src="/img/partners/diario.png")
            +e.A(href="#").item--synergy.--small
                img(src="/img/partners/synergy.png")
            +e.A(href="#").item--uth.--small
                img(src="/img/partners/uth.png")
            +e.A(href="#").item--pro.--small
                img(src="/img/partners/pro.png")
            +e.A(href="#").item--tic.--small
                img(src="/img/partners/tic.png")
            +e.A(href="#").item--crypto.--small
                img(src="/img/partners/crypto.png")
            +e.A(href="#").item--cordoba.--small
                img(src="/img/partners/cordoba.png")
            +e.A(href="#").item--cripto.--small
                img(src="/img/partners/CriptoNoticias.png")
            +e.A(href="#").item--cart.--small
                img(src="/img/partners/cart.png")
            +e.A(href="#").item--atlarec.--small
                img(src="/img/partners/atlarec.png")
            +e.A(href="#").item--aba.--small
                img(src="/img/partners/aba.png")
            +e.A(href="#").item--iec.--small
                //img(src="/img/partners/")
            +e.A(href="#").item--kick.--small
                img(src="/img/kickico.svg")
            +e.A(href="#").item--lametro.--small
                img(src="/img/partners/lametro.png")
            +e.A(href="#").item--tend.--small
                img(src="/img/partners/cripto-tendencia.png")
            +e.A(href="#").item.--small
            +e.A(href="#").item.--small
            +e.A(href="#").item.--small
            +e.A(href="#").item.--small

