+b#partners.partners
    +e.container.container
        +e.H2.title.title Партнёры
        +e.body
            +e.A.item--legis.--big
                img(src="/img/partners/legis.png")
            +e.A.item--univers.--big
                img(src="/img/partners/Nacinal.png")
            +e.A.item--pascal.--big
                img(src="/img/partners/Un.png")
            +e.A.item--gobierno.--big
                img(src="/img/partners/gobierno.png")
            +e.A.item--municip.--med
                img(src="/img/partners/minicipali.png")
            +e.A.item--nem.--small
                img(src="/img/partners/nem.png")
            +e.A.item--diario.--small
                img(src="/img/partners/diario.png")
            +e.A.item--synergy.--small
                img(src="/img/partners/synergy.png")
            +e.A.item--uth.--small
                img(src="/img/partners/uth.png")
            +e.A.item--pro.--small
                img(src="/img/partners/pro.png")
            +e.A.item--tic.--small
                img(src="/img/partners/tic.png")
            +e.A.item--crypto.--small
                img(src="/img/partners/crypto.png")
            +e.A.item--cordoba.--small
                img(src="/img/partners/cordoba.png")
            +e.A.item--cripto.--small
                img(src="/img/partners/CriptoNoticias.png")
            +e.A.item--cart.--small
                img(src="/img/partners/cart.png")
            +e.A.item--atlarec.--small
                img(src="/img/partners/atlarec.png")
            +e.A.item--aba.--small
                img(src="/img/partners/aba.png")
            +e.A.item--iec.--small
                img(src="/img/partners/ies.png")
            +e.A.item--kick.--small
                img(src="/img/kickico.svg")
            +e.A.item--lametro.--small
                img(src="/img/partners/lametro.png")
            +e.A.item--tend.--small
                img(src="/img/partners/cripto-tendencia.png")
            +e.A.item.--small
            +e.A.item.--small
            +e.A.item.--small
            +e.A.item.--small

