+b.popup
    +e.close
    +e.body
        //img(data-src="/img/photos/1.jpg")
        //img(data-src="/img/photos/2.jpg")
        //img(data-src="/img/photos/3.jpg")
        //img(data-src="/img/photos/4.jpg")
        //img(data-src="/img/photos/5.jpg")
