+b.program
    +e.container.container
        +e.body
            +e.text.text--program
                h2 Программа конгресса
                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует
            +e.A(href="#" target="_blank").download
                p Смотреть программу
        +e.img
            img(src="/img/cube.svg")