+b.speakers
    +e.container.container
        +e.H2.title.title Спикеры
        +e.body
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/1.png")
                +e.name Владимир Попов
                +e.from Иркутск, Россия
                +e.about IT-юрист itSynergis.ru, Участник экспертного совета в ГД; РАКИБ; Блокчейн-ассоциации
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/2.png")
                +e.name Александр Петров
                +e.from Москва, Россия
                +e.about Сооснователь и финансовый директор KickICO.com
                +e.logo
                    img(src="/img/kickico.svg")
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/3.png")
                +e.name Rafael Torres
                +e.from Москва, Россия
                +e.about Сооснователь и финансовый директор KickICO.com
                +e.logo
                    img(src="/img/kickico.svg")
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/4.png")
                +e.name Педро Гутиррес
                +e.from Богота, Колубмия
                +e.about Серийный предприниматель, менеджер интернет-проектов, трейдер
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/5.png")
                +e.name Martin Jofré Celis
                +e.from Калининград, Россия
                +e.about Редактор и специалист по контент-маркетингу KickICO.com
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/6.png")
                +e.name Nelson Valero
                +e.from Калининград, Россия
                +e.about Редактор и специалист по контент-маркетингу KickICO.com
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/7.png")
                +e.name Sofia Paskal
                +e.from Калининград, Россия
                +e.about Редактор и специалист по контент-маркетингу KickICO.com
            +e.item.speaker__
                +e.photo
                    img(src="/img/speakers/8.png")
                +e.name Евгения Воронцова
                +e.from Калининград, Россия
                +e.about Редактор и специалист по контент-маркетингу KickICO.com

