+b#themes.themes
    +e.container.container
        +e.H2.title.title--white Тема обсуждения
        +e.body
            +e.item.text--theme
                h3 Отношения криптосообщества и правительств в разных странах
                p Отношения криптосообщества и правительств в разных странах
            +e.item.text--theme
                h3 Как продвигать криптостартап и создавать комьюнити
                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует
            +e.item.text--theme
                h3 Философия децентрализации и криптоанархия
                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует
            +e.item.text--theme
                h3 Блокчейн для бизнеса и enterprise
                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует
    +e.bg

